@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	position: relative;
	margin: 0 auto;
	max-width: 1385px;
	background: #fff;
}
.content-wrapper{
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 10px;
}
.hide{
	&-laptop{
		@include breakpoint(tablet){
			display: none;
		}
	}
}
.show-{
	&tablet{
		display: none;
		@include breakpoint(tablet){
			display: block;
		}
	}
	&laptop{
		display: none;
		@include breakpoint(laptop){
			display: block;
		}
	}
}
.clearfix{
	&:after{
		content: '';
		clear: both;
		display: block;
		min-height: 1px;
	}
	&-phablet{
		min-height: 1px;
		clear: both;
	}
	&-tablet{
		min-height: 1px;
		clear: both;
	}
}


.row{
	margin: 0 -10px;
}

[class*='col-']{
	padding: 0 15px;
	//min-height: 1px;

}
.col-{
	&mobileonly-{
		@include breakpoint(mobileonly){
			
			&1-2{
				width: 50%;
				float: left;
				&_padding-none{
					padding: 0;
				}
			}
			&1-3{
				width: 33.33%;
				float: left;
				&_padding-none{
					padding: 0;
				}
			}
		}
	}
	&phablet-{
		@include breakpoint(phablet){

			&1-2{
				width: 50%;
				float: left;
				&_padding-none{
					padding: 0;
				}
			}
			&1-3{
				width: 33.33%;
				float: left;
				&_padding-none{
					padding: 0;
				}
			}
			&1-4{
				width: 25%;
				float: left;
			}
			&1-5{
				width: 20%;
				float: left;
			}
			&1-5_right{
				width: 20%;
				float: right;
			}
			&2-3{
				width: 66.66%;
				float: left;
			}
			&3-4{
				width: 75%;
				float: left;
			}

		}
	}

	&tablet-{
		@include breakpoint(tablet){
			&1-2{
				width: 50%;
				float: left;
				
			}
			&1-3{
				width: 33.33%;
				float: left;
			}
			&3-4{
				width: 75%;
				float: left;
			}
			&2-3{
				width: 40%;
				float: left;
			}
			&3-5{
				width: 60%;
				float: left;
			}
			&1-4{
				width: 25%;
				float: left;
			}
			&1-5{
				width: 20%;
				float: left;
			}
			&4-5{
				width: 80%;
				float: left;
			}
		}
	}
	&laptop-{
		@include breakpoint(laptop){
			&1-3{
				width: 33.33%;
				float: left;
			}
			&3-4{
				width: 75%;
				float: left;
			}
			&2-6{
				width: 30%;
				float: left;
			}
			&1-4{
				width: 25%;
				float: left;
			}
			&1-8{
				width: 12.5%;
				float: left;
			}
		}
	}
}
.no-padding{
	padding: 0;
	&_tablet{
		@include breakpoint(tablet){
			padding: 0 15px;
		}
	}
}
.padding-5{
	padding: 0 5px;
}
.padding-10{
	padding: 0 10px;
}