@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em)  { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em)  { @content ; }
	}
}

*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a{
	text-decoration: none;
}
body{
	background: #fafafb;
}
img{
	max-width: 100%;
}
h1,h2,h3,h4{
	text-align: center;
	color: #2a2a2a;
	margin-bottom: 25px;
}
h1{
	font-family: 'Oranienbaum', serif;
	font-weight: lighter;
	font-size: 60px;
	text-align: center;
	@include breakpoint(mobileonly){
		font-size: 30px;
	}
}
h2{
	font-family: 'Oranienbaum', serif;
	font-weight: lighter;
	font-size: 52px;
	@include breakpoint(mobileonly){
		font-size: 26px;
	}
}
h3{
	font-family: 'Oranienbaum', serif;
	font-weight: lighter;
	font-size: 36px;
	@include breakpoint(mobileonly){
		font-size: 24px;
	}
}
h4{
	font-family: 'Oranienbaum', serif;
	font-weight: lighter;
	font-size: 24px;
}
p.text{
	margin-bottom: 35px;
	font-size: 13px;
	color: #898989;
	line-height: 24px;
}

.backdrop {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.4);
	opacity: 0;
	z-index: 4;
	transition: opacity 0.3s ease;
}
.on{
	opacity: 1;
	left: 0;
}
.no-scroll {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.breadcrumbs{
	font-size: 13px;
	list-style: none;
	color: #898989;
	margin-bottom: 20px;
	display: inline-block;
	li{
		display: inline-block;
		margin-right: 10px;
		position: relative;
		&:not(:last-child):after{
			content: "/";
			display: inline-block;
			position: absolute;
			right: -11px;
			font-size: 13px;
			top: 0px;
		}
		&:not(:last-child){
			text-decoration: underline;
		}
	}
	a{
		color: #898989;
		&:hover{
			color: #51a5b4;
		}
	}
}
.catalog-title{
	padding-top: 15px;
	margin-bottom: 45px;
}

.inner-wrapper{
	margin: 0 auto;
	max-width: 1200px;
	&_border-bottom{
		border-bottom: 1px solid #dadada;
	}
}
img{max-width: 100%;}

.header-top{
	font-size: 12px;
	background: #2a2a2a;
	color: #fff;
	padding: 12px 0;
}

.location{
	display: inline-block;
	margin-right: 100px;
	a{
		text-decoration-style: dotted;
		color: #fff;
	}
	span{
		padding-left: 20px;
	}
}

#pin{
	position: absolute;
	margin-right: 5px;
	.cls-1{
		fill: #fff;
	}
}

.company-info{
	display: inline-block;
	ul{
		list-style: none;
	}
	li{
		display: inline-block;
		margin-right: 35px;
	}
}

.enter{
	float: right;
	position: relative;
	top: -5px;
}

.check-order{
	display: inline-block;
	background: #fff;
	color: #5f5f5f;
	font-size: 12px;
	margin-left: 10px;
	padding: 5px 7px 5px 13px;
	border-radius: 2px;
	span:first-child{
		margin-right: 13px;
	}
}

.header-bottom{
	padding: 10px 0;
	border-bottom: 1px solid #dadada;
	.logo{
		display: inline-block;
		span:first-child{
			color: #000;
			display: inline-block;
			font-size: 62px;
			font-family: 'Oranienbaum', serif;
			text-transform: uppercase;
			margin-right: 20px;
		} 
		span:last-child{
			margin: 0 30px;
			font-size: 12px;
			font-family: 'Open Sans', sans-serif;
			color: #898989;
			text-transform: none;
			max-width: 188px;
			display: inline-block;
			position: relative;
			top: -8px;
		}
	}
}
.btn{
	display: inline-block;
	padding: 10px;
	border: 1px solid #4fa4b6;
	border-radius: 30px;
	color: #000;

	&_calc{
		vertical-align: top;
		top: 10px;
		margin: 10px 5px;
		font-size: 13px;
		position: relative;
		padding-left: 50px;
		.icon{
			position: absolute;
			left: 15px;
			top: 7px;
		}
	}
	&__product{
		padding: 10px 40px;
		margin-top: 20px;
	}
	&_promo{
		color: #51a5b4;
		padding: 8px 30px;
		font-size: 15px;
		font-family: 'Open Sans bold', sans-serif;
		font-weight: bold;
	}
	&__back{
		font-size: 18px;
		color: #2a2a2a;
		margin-bottom: 25px;
	}
	&_filter{
		text-align: center;
		width: 100%;
		margin-top: 30px;
		margin-bottom: 15px;
		background-color: white;
		span:first-child{
			color: #2a2a2a;
		}
		span:last-child{
			color: #838383;
		}
	}
	&_sort{
		font-size: 12px;
		border: none;
		color: #7c7c7c;
		background: #ededf0;
		padding: 8px 12px;
		margin: 10px 0;
		&.active{
			background: #6363de;
			color: #fff;
		}
	}
	&_show-more{
		margin: 25px 0 50px 0;
		width: 100%;
		text-align: center;
		border: none;
		background: #f1f1f6;
		font-size: 13px;
		color: #2a2a2a;
	}
	&_go-to-catalog{
		padding:20px 75px;
		margin: 50px 0;
		@include breakpoint(tablet){
			margin-top: 30px;
			margin-bottom: 110px;
		}
		@include breakpoint(laptop){
			margin: 0;
			margin-top: 10px;
			margin-bottom: 110px;
		}
	}
	&_manager{
		font-size: 13px;
	}
	&_delivery{
		border-radius: 40px;
		padding: 25px 40px;
		font-size: 17px;
		background: #429cc2;
		color: #fff;
		margin-bottom: 35px;
		@include breakpoint(laptop){
			font-size: 20px;
		}
	}
	&_call-us{
		padding-left: 50px;
		width: 100%;
		font-size: 13px;
		margin-bottom: 10px;
		max-width: 180px;
		position: relative;
		span{
			position: absolute;
			left: 20px;
			top: 7.5px;
		}
	}
	&_write-us{
		padding-left: 50px;
		width: 100%;
		font-size: 13px;
		margin-bottom: 10px;
		max-width: 180px;
		position: relative;
		span{
			position: absolute;
			left: 15px;
			top: 6.5px;
			display: inline-block;
			width: 25px;
			height: 25px;
		
		}
	}
}

.contact-info{
	position:relative;
	top: 10px;
	margin: 0 30px;
	text-align: right;
	display: inline-block;
	.time{
		font-size: 12px;
		color: #898989;
	}
	.callback{
		text-decoration: underline;
		text-decoration-style: dotted;
		font-size: 12px;
		color: #898989;
	}
}
.telephone{
	font-size: 24px;
	a{
		text-decoration: none;
		color: #2a2a2a;
	}
	:first-child{
		margin-right: 5px;
	}
	span:nth-child(2){
		font-weight: 300;
		margin-right: 5px;
	}
	span:last-child{
		font-family: 'Open Sans bold', sans-serif;
		font-weight: 700;
	}
	&_top-line{
		a{
			color: #fff;
		}
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 0px;
		right: 10px;
		vertical-align: top;
		font-size: 12px;
	}
}
.online-calc{
	display: inline-block;
}

.search{
	margin-right:20px;
	display:inline-block;
}

.favorite{
	display:inline-block;
	position: relative;
}

.fav-item-count{
	position: absolute;
	top: -5px;
	right: -16px;
	width: 22px;
	height: 16px;
	display: inline-block;
	font-size: 13px;
	border-radius: 40%;
	text-align: center;
	background: #ec0b0b;
	color: white;
	line-height: 16px;
}
.main-menu{
	padding: 15px 0;
	ul{
		display: flex;
		text-align: center;
		list-style:none;
		flex-wrap: wrap;
		justify-content: space-around;
		li{
			// margin:0 13px;
			margin-bottom: 30px;
			min-width: 106px;
			@include breakpoint(tablet){
				min-width: 0;
				margin-right:20px;
				margin-bottom: 30px;
			}
		}
		li:first-child{
			margin-left:0;
		}
		li:last-child{
			margin-right: 0;
		}
	}
	.menu-item{
		font-size: 14px;
		color:#000;
		font-weight: bold;
		font-family: 'Open Sans bold', sans-serif;
		.icon{
			margin-bottom: 20px;
			height: 41px;
			svg{
				height: 40px;
				vertical-align: bottom;
				.cls-1{
					fill: #6363de;
				}
			}
			&_bedroom{
				svg{
					height: 30px;
					vertical-align: bottom;
					.cls-1{
						fill: #6363de;
					}
				}
			}
			&_childrens{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: url(#gradient);
					}
				}
			}
			&_hallways{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: url(#gradient);
					}
				}
			}
			&_office{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: url(#gradient);
					}
				}
			}
			&_more{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: none;
					}
				}
			}
		}
	}
}
.promo{
	position: relative;
	&__text{
		position: absolute;
		top: 62%;
		left: 6%;
	}
}
.title{
	margin: 50px 0;
	position: relative;
	text-align: center;
	font-size: 52px;
	font-family: 'Oranienbaum', serif;
	color: #2a2a2a;
	&_left{
		text-align:left;
	}
	@include breakpoint(mobileonly){
		font-size: 36px;
		span{
			display: block;
			margin-bottom: 20px;
		}
	}
	span{
		font-family: 'Oranienbaum', serif;
		font-size: 52px;
	}
	.works{
			font-size: 13px;
			position: relative;
			top: -10px;
			left: 20px;
			text-decoration: underline;
			color: #898989;
		}
}


.product-item{
	position: relative;
	margin-bottom: 20px;
	&__image{
		img{
			width: 100%;
		}
	}
	&__text{
		position: absolute;
		background:#2a2a2a;
		padding: 20px;
		color: #fff;
		width: 100%;
		bottom: 0;
		&_catalog{
			padding: 30px 0;
		}
	}
	&__mark{
		position: absolute;
		bottom: 73px;
    	left: 20px;
    	z-index: 2;
		color: #fff;
		font-size: 11px;
		padding: 1px 5px;
		background: #6363de;
		&_sale{
			background: #eb1212;
			padding: 1px 7px;
		}
		&_catalog{
			top: 20px;
			left: 0;
			bottom: auto;
		}
	}
	&__name{
		font-size: 18px;
		font-weight: bold;
		&_catalog{
			font-family: 'Oranienbaum', serif;
			font-size: 36px;
			text-align: center;
			font-weight: normal;
		}
	}
	&__price{
		font-size: 13px;
		span:first-child{
			font-weight: bold;
		}
		span:last-child-child{
			font-weight: lighter;
		}
	}
	&__add-to-fav{
		position: absolute;
		top: 15px;
		right: 15px;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 10px;
		border-radius: 100%;
		&:hover{
			background-color: rgba(238, 46, 34, 0.4);
		}
		&.active{
			background-color: rgba(238, 46, 34, 0.6);
		}
		&_catalog{
			top: 10px;
			right: 10px;
		}
	}
}
.advantages{
	margin-bottom: 30px;
	@include breakpoint(laptop){
		padding-left: 40px;
	}
	&__icon{
		width: 60px;
		height: 50px;
		display: inline-block;
		float: left;
		svg{
			height: 40px;
			vertical-align: bottom;
			.cls-1{
				fill: #6363de;
			}
		}
	}
	&__text{
		color: #2a2a2a;
		font-size: 14px;
		line-height: 1.6;
		padding-left: 90px;
		ul{
			margin-left: 14px;
		}
		li{
			color:  #6363de;
			
		}
		a{
			color: #2a2a2a;
			font-size: 12px;
		}
	}
	&__border-left{
		border-left: 1px solid #dadada;
	}
}

.all-our-works{
	font-size: 13px;
	text-decoration: underline;
	color: #898989;
	padding-left: 25px;
}
.product{
	margin-bottom: 40px;
	
	&__img{
		margin-bottom: 25px;
		display: inline-block;
		position: relative;
		.product-item__add-to-fav{
			bottom: 15px;
			top: auto;
		}
	}
	&__title{
		font-size: 21px;
		font-family: 'Oranienbaum', sans-serif;
		color: #1c1b1b;
		padding-bottom: 15px;
		position: relative;
		margin-bottom: 20px;
		&:before{
			content: "";
			display: inline-block;
			height: 2px;
			width: 25px;
			background-color: black;
			bottom: 0;
			position: absolute;
		}
		&_off-line{
			&:before{
				visibility: hidden;
			}
		}
	
	}
	&__data{
		font-size: 11px;
		font-family: 'Open Sans Light', sans-serif;
		color: #6c6c6c;
		margin-top: -25px;
		margin-bottom: 20px;
		&_top{
			margin-top: 0;
			margin-bottom: 10px;
		}
	}
	&__text{
		font-size: 14px;
		font-style:oblique;
		color: 6c6c6c;
		font-family: 'Open Sans regular', sans-serif;
		line-height: 1.55;
		max-height: 66px;
		overflow: hidden;
	}
}

.slider-arrows{
	position: relative;
	.icon_review_slider_prev{
		color: white;
		font-size: 2.5em;
		font-weight: 100;
		position: absolute;
		right: 80px;
	}
	.icon_review_slider_next{
		color: white;
		font-size: 2.5em;
		font-weight: 100;
		position: absolute;
		right: 0;
	}

}
.slider_controls{
	position: absolute;
	right: 40px;
	top: 15px;
	width: 100px;
	text-align: center;
	z-index: 10;
	cursor: pointer;
	@include breakpoint(tablet){
		
	}
}

.review-slider{
	padding: 40px 0 65px 0;
	background-color:#2a2a2a;
	.lSSlideOuter {border: 9px solid white;}
	@include breakpoint(tablet){
		padding-left: 108px;
	}
	@include breakpoint(laptop){
		padding-right: 105px;
		padding-left: 208px;
	}
	@include breakpoint(desktop){
		padding-right: 105px;
		padding-left: 308px;
	}
	
	ul{
		list-style: none;
		&>li{
			//border: 9px solid white;
			padding: 40px;
			@include breakpoint(tablet){
				text-align: left;
				padding-left: 305px;
				min-height: 380px;
			}
			
		}
		
	}
	&__title{
		text-align: center;
		font-size: 52px;
		margin-bottom: 30px;
		color: white;
		font-family: 'Oranienbaum', sans-serif;
	}
	&__img{
		text-align: center;
		@include breakpoint(tablet){
			left: 10px;
			top: 180px;
			max-height: 300px;
			position: absolute;
			z-index: 11;
		}
		@include breakpoint(laptop){
			left: 110px;
		}
	}
	&__text{
		position: relative;
		margin-top: 50px;
		color: #d0d0d0;
		font-size: 14px;
		line-height: 1.7;
		@include breakpoint(tablet){
			margin: 0;
			padding-top: 85px;
		}
		&:before{
			content: "\201c";
			
			color: #555657;
			font-size: 15em;
			margin-top: -20px;
			font-family: 'Oranienbaum', sans-serif;
			position: absolute;
			top: -135px;
			@include breakpoint(tablet){
				top: -50px;
			}
		}
		
		
	}
	&__pager{
		color: white;
		position: relative;
		top: 15px;
		display: inline-block;
		span{
			&:first-child{
				font-size:14x;
				color: #d0d0d0;
				&:after{
					content: "/"
				}
			}
			&:last-child{
				font-size:24px;
			}
		}
	}
}
.footer{
	background-color: #f4f4f4;
	padding: 35px 10px 15px 10px;
	@include breakpoint(laptop){
		padding: 35px 50px 15px 50px;
	}
	ul{
		list-style: none;
	}
	&_flex-container{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: baseline;
		&.min{
			margin-top: 20px;
			display: none;
			@media (min-width:520px){
				display: flex;
			}
			@media (min-width:1385px){
				margin: 0;
			}
		}
		
	}
	
	&-list{
		display: inline-block;
		a{
			text-decoration: none;
			color: #6a6a6a;
			font-size: 13px;
			line-height: 1.3;
			@include breakpoint(tablet){
				line-height: 2.1;
			}
		}
		&__title{
			display: inline-block;
			font-size: 16px;
			margin-bottom: 20px;
			font-family: 'Open Sans bold', sans-serif;
			font-weight: bold;
			
		}
		
		&__subscribe{
			display: inline-block;
			&.mobile{
				display: block;
				@media (min-width:520px){
					display: none;
				}
				label{
					display: flex;
					font-size: 13px;
					color: #6a6a6a;
					align-items: center;
					margin-top: 13px;
					padding: 0 24px;
					position: relative;
					&:before{
						position: absolute;
						content: "";
						display: inline-block;
						height: 14px;
						width: 14px;
						background-color: white;
						border: 1px solid #b2b2b2;
						left: 0;
					}
				}
				input{
					width: 100%;
					margin-bottom: 10px;
					display: inline-block;
					margin-left: 0;
					border-radius: 5px;
					&[type="submit"]{
						margin-left: 0;
					}
					&[type="checkbox"]{
						display: none;
						&:checked + label{
							&:after{
								content: "\2713";
								position: absolute;
								left: 3px;
								font-weight: bold;
								color: #6a6a6a;
							}
						}
					}
				}
			}
			input{
				height: 40px;
				outline: none;
				border: 1px solid #b2b2b2;
				padding: 0 13px;
				
				@media (min-width:520px){
					&:first-child{
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						border-right: none;
					}
				}
				
				&[type="submit"]{
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					margin-left: -4px;
					background-color: #020202;
				
					color: white;
					font-size: 15px;
					font-weight: 600;
				}
				&[type="checkbox"]{
					display: none;
					&:checked + label{
						&:after{
							content: "\2713";
							position: absolute;
							left: 3px;
							font-weight: bold;
							color: #6a6a6a;
						}
					}
				}
				
			}
			label{
				display: flex;
				font-size: 13px;
				color: #6a6a6a;
				align-items: center;
				margin-top: 13px;
				padding: 0 24px;
				position: relative;
				&:before{
					position: absolute;
					content: "";
					display: inline-block;
					height: 14px;
					width: 14px;
					background-color: white;
					border: 1px solid #b2b2b2;
					left: 0;
				}
			}
		}
		&__info{
			flex-basis: 130px;
		}
		&__contacts{
			@include breakpoint(mobileonly){
				margin-left: 20px;
			}
			@media(min-width:500px){
				margin-right: 75px
			}
		}
		&__payment{
			footer-list__title{
				margin-bottom: 15px;
			}
			
			
			ul{
				display: flex;
			}
			li{
				display: inline-block;
				margin-right: 15px;
				
				
				a{
					display: flex;
					height: 35px;
					align-items: center;
				}
			}
			@media (min-width:1385px){
				margin-left: 308px;
				align-self: flex-end;
				
			}
		}
		
		&__advantages{
			margin-top: 40px;
		}
	}
	.bold{
		font-weight: bold;
		color: #1a1a1a;
	}
	&_wrap{
		text-align: center;
		margin-top: 20px;
	}
}
.social-items{
	.social-item{
		display: inline-block;
		margin-right: 13px;
		margin-top: 20px;
		@include breakpoint(tablet){
			margin-top: 25px;
		}
	}
}
	
//// Catalog.pug

.filters{
	width: 320px;
	text-align: center;
	box-shadow: 0px 1px 3px 1px rgba(182,183,184,1);
	padding: 50px;
    height: 100%;
    background: #fff;
	transition: all 0.4s ease;
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 11;
	overflow-y: scroll;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    &_active{
		transition: all 0.4s ease;
		right: 0;
		visibility: visible;
		bottom: 0;
		top: 0;
		position: fixed;
	}
	@include breakpoint(laptop){
		display: block;
		width:100%;
		height: auto;
		overflow: visible;
		right: 0;
		z-index: 6;
		visibility: visible;
		position:relative;
		padding: 0;
		box-shadow: none;
		margin-bottom: 50px;
	}
	&__title{
		margin-top: 45px;
		margin-bottom: 25px;
		font-family: 'Open Sans bold', sans-serif;
		font-weight: bold;
		text-align: left;
		font-size: 18px;
		color: #2a2a2a;
	}
	button[type=reset]{
		border: none;
		text-decoration: underline;
		font-size: 12px;
		color: #898989;
		background: white;
	}
	&__close-btn{
		position: absolute;
		right: 15px;
		top: 15px;
	}
}
.filter__block{
	text-align: left;
	border-bottom: 1px solid #dadada;
	padding: 10px 0;
	position: relative;
	&_no-border{
		border-bottom: none;
	}
	&:last-child{
		border-bottom: none;
	}
	&__name{
		font-family: 'Open Sans bold', sans-serif;
		color: #2a2a2a;
		font-size: 14px;
		font-weight: bold;
		&_params{
			margin: 20px 0;
		}
	}
	&__arrow{
		position: absolute;
		right: 0;
		top: 13px;
		&_params{
			top: 31px;
		}
		svg{
			transition: transform 0.5s ease;
			.arrow-r{
				fill: #2a2a2a;
			}
		}
		&.open{
			svg{
				transform: rotate(90deg);
				transition: transform 0.5s ease;
	  		}
		}
	}
}

[id^=chkbox]{
	display: none;
	outline: none;
}
[id^=chkbox] + label{
	display: inline-block;
	margin: 10px 0;
	height: 19px;
	background:url('../images/checkbox_unchecked.png');
	background-repeat: no-repeat;
	span{
			position: relative;
			font-size: 12px;
			top: -3px;
			left: 25px;
			color: #898989;
		}
}
[id^=chkbox]:checked + label{
	display: inline-block;
	height: 19px;
	background:url('../images/checkbox_checked.png');
	background-repeat: no-repeat;
	label{
		span{
			font-size: 12px;
			position: relative;
			top: -3px;
			left: 25px;
			color: #898989;
		}
	}
}
.sort-items,.show-items-on-page{
	display: inline-block;
	margin-bottom: 18px;
	font-size:14px;
	span{
		margin-right: 6px;
		@include breakpoint(tablet){
			margin-right: 10px;
		}
	}
	a{
		color: #000;
		margin-right:6px;
		@include breakpoint(tablet){
			margin-right: 10px;
		}
	}
	a.active{
		span{
			background: #6363de;
			padding: 4px 6px;
			border-radius: 50%;
			color: #fff;
		}
	}
}
.sort-items{
	@include breakpoint(laptop){
		position: relative;
		left: 20px;
	}
}
.show-items-on-page{
	float: right;
	position: relative;
	top: 16px;
}

.paginator{
	display: block;
	margin: 30px auto;
	&_catalog{
		display: block;
		@include breakpoint(laptop){
			display: inline-block;
		}
	}
	ul{
		text-align: center;
		display: black;
		margin-top: 15px;
		list-style: none;
		li{
			vertical-align: middle;
			color: #181818;
			font-size: 18px;
			display: inline-block;
			margin: 0px 5px;
			line-height: 36px;
			border: 1px solid #d3d3d3;
			border-radius: 100%;
			width: 40px;
			height: 40px;
		}
		li:hover{
			color: #6363de;
			border: 1px solid #6363de;
		}
		li.active{
			background: #6363de;
			color: #fff;
			border: 1px solid #6363de;
		}
		li.prev, li.next{
			padding-top: 10px;
			background: #f0f0f0;
			&:hover{
				background: #d9d9d9;
				color: #181818;
				border: 1px solid #d3d3d3;
			}
		}
	}
}
.news{
	
	.title{
		margin: 0 0 40px 0;
		text-align: left;
	}
}
.our-works{
	padding-top: 15px;
	background: #f2f2f5;
}
.form-line{
	padding: 40px 10px 70px 10px;
	background-color: #2a2a2a;
	text-align: center;
	@include breakpoint(phablet){
		padding: 40px 50px 70px 50px;
	}
	@include breakpoint(tablet){
		padding: 40px 10px 70px 10px;
	}
	input{
		height: 45px;
		display: block;
		margin: 0 auto;
		border-radius: 5px;
		outline: none;
		width: 100%;
		max-width: 760px;
		padding: 0 20px;
		margin-bottom: 20px;
		color: #2a2a2a;
		font-size: 15px;
		&:focus{color: #2a2a2a;}
		@include breakpoint(tablet){
			display: inline-block;
			width: 30%;
			margin-right: 20px;
			max-width: 290px;
		}
		&[type="submit"]{
			display: inline-block;
			border-radius:50px;
			color: #4fa4b6;
			font-size: 16px;
			border: 1px solid #4fa4b6;
			background-color: #2a2a2a;
			max-width: 235px;
		}
	}
	.title{
		position: relative;
		color: #fafafb;
		font-size: 18px;
		line-height: 1.8;
		
		@include breakpoint(tablet){
			font-size:30px;
		}
	}
}
.registr-form{
	border: 5px solid #2a2a2a;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
	padding: 0 10px 40px 10px;
	margin-bottom: 100px;
	
	.title{
		font-size: 60px;
		display: inline-block;
		padding: 0 100px;
		margin-top: -40px;
		z-index: 1;
		position: relative;
		background-color:#ffffff;
		@include breakpoint(mobileonly){
			font-size: 30px;
			padding: 0 20px;
			margin-top: -23px;
		}
	}
	input{
		width: 100%;
		height: 40px;
		outline: none;
		border: 1px solid #c6c6c6;
		padding: 0 20px;
		max-width: 315px;
		&:invalid{
			border: 1px solid #ea7d7d;
		}
		&[type="password"]:invalid ~ span{
			display: inline-block;
		}
		&[type="submit"]{
			border-radius:50px;
			font-size: 18px;
			border: 1px solid #81bdd6;
			background-color: white;
			height: 60px;
		}
		
	}
	.input-wrap{
		max-width: 315px;
		margin: 0 auto 23px auto;
		text-align: left;
		position: relative;
		span{
			display: inline-block;
			font-weight: bold;
			font-family: 'Open Sans bod', sans-serif;
			&:first-child{
				font-size: 14px;
				color: #2a2a2a;
				
				margin-bottom: 10px;
			}
			&:last-child{
				color: #f52424;
				font-size: 12px;
				margin-top: 5px;
				display: none;
				
			}
			&.arrow{
				position: absolute;
				right: 10px;
				font-size: 20px;
				display: inline-block;
				color: #81bdd6;
				top: 25%;
			}
		}
		
	}
}

.thanks-for-order{
	border: 5px solid #65afca;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
	padding: 0 10px 40px 10px;
	margin-bottom: 100px;
	margin-top: 50px;
	border-bottom: none;
	border-right: none;
	position: relative;
	&:after {
		content:"";
		background: -webkit-linear-gradient(left, #65afca, #dbecf3);
		display: block;
		height:5px;
		right: 0;
		left: 0;
		position: absolute;
		bottom: 0;
	}
	&:before {
		content:"";
		background: -webkit-linear-gradient(bottom, #dbecf3, white);
		display: block;
		width: 5px;
		right: -2px;
		position: absolute;
		bottom: 0;
		top: 0;
	}

	

	.social-item{
		margin-top: 0;
	}
	&_wrap{
		overflow: hidden;
	}
	.title{
		font-size: 48px;
		display: inline-block;
		padding: 0;
		margin: -40px 0;
		z-index: 1;
		position: relative;
		background-color:#ffffff;
		&:after{
			content: "";
			display: inline-block;
			height: 5px;
			width: 50%;
			position: absolute;
			background-color: white;
			right: -50%;
			top: 35px;
			@include breakpoint(mobileonly){
				top: 18px;
			}
			
		}
		@include breakpoint(mobileonly){
			font-size: 30px;
			padding: 0 20px;
			margin-top: -23px;
			margin: -23px 0;
		}
		
		@include breakpoint(tablet){
			margin: -40px 90px 10px 90px;
			font-size: 60px;
		}
		
	}
	&__number{
		font-size: 24px;
		color: #2a2a2a;
		font-weight: bold;
		font-family: 'Open Sans bold', sans-serif;
		margin: 50px 0 40px 0;
		@include breakpoint(mobileonly){
			font-size: 16px;
		}
	}
	&__text{
		color: #2a2a2a;
		font-size: 17px;
		margin-bottom: 55px;
		@include breakpoint(mobileonly){
			font-size: 14px;
		}
		@include breakpoint(laptop){
			padding: 0 90px;
		}
	}
}

///contacts page
#map{
	height: 570px;
}

.wrap-map{
	position: relative;
}
.contacts{
	padding: 40px 30px 45px 30px;
	background: white;
	left: 0px;
	top: 65px;
	
	@include breakpoint(mobileonly){
		position: static;
	}
	@include breakpoint(phablet){
		position: static;
	}
	@include breakpoint(tablet){
		position: absolute;
	}
	@include breakpoint(laptop){
		left: 50px;
		position: absolute;
	}
	@include breakpoint(desktop){
		width: 390px;
	}
	.title {
		text-align: left;
		margin-top: 0;
		margin-bottom: 30px;
	}
	&__phone{
		font-size: 14px;
		color: #2a2a2a;
		font-weight: bold;
		font-family: 'Open Sans bold', sans-serif;
		margin-bottom: 20px;
	}
	&__number-phone{
		margin-bottom: 10px;
		span{
			font-size: 24px;
			color:#2a2a2a;
			&:first-child{
				font-family: 'Open Sans light', sans-serif;
				
				
			}
			
			&:last-child{
				font-family: 'Open Sans bold', sans-serif;
				font-weight: bold;
			}
		}
			
	}
	&__work-time{
		color: #898989;
		font-size: 12px;
		margin-bottom: 10px;
		
	}
	&__email{
		color: #898989;
		font-size: 12px;
		margin-bottom: 20px;
	}
	a.email{
		display: block;
		text-decoration: underline;
		color: #419cc4;
		margin-bottom: 40px;
		font-size: 14px;
	}
	.btn{
		border: 1px solid #66afbf;
		padding: 15px 30px;
		font-size: 13px;
	}
}
///end contacts page
.catalog-item{
	position: relative;
	padding: 7px;
	border: 1px solid #dadada;
	margin-bottom: -1px;
	&__pic{
		vertical-align: top;
		display: inline-block;
		max-width: 236px;
		margin-right:45px; 
	}
	&__name{
		display: block;
		font-family: 'Open Sans bold', sans-serif;
		font-size: 21px;
		font-weight: bold;
		color: #2a2a2a;
		margin-bottom: 30px;
		&_lk{
			margin-bottom: 5px;
		}
	}
	&__text{
		vertical-align: top;
		padding-top: 35px;
		display: inline-block;
	}
	&__description{
		table{
			font-size: 13px;
		}
		td{

			line-height: 1.5;
			vertical-align: top;
			&:first-child{
				width: 110px;
				position: relative;
				overflow: hidden;
				color: #303030;
				span{
					position: relative;
					&:after{
					content: " ";
					position: absolute;
					width: 350px;
					left: 100%;
					height: 2px;
					border-bottom: 1px dotted #bcbcbc;
					bottom: 5px;
					}
				}
			}
			&:last-child{
				//min-width: 120px;
				color: #5e5e5e;
				vertical-align: bottom;


			}
		}
		&_lk{
			margin-bottom: 35px;
		}
	}
	&__price{
		position: absolute;
		bottom: 10px;
		right: 10px;
		display: inline-block;
		span:first-child{
			font-family: 'Open Sans bold', sans-serif;
			font-weight: bold;
		}
		@include breakpoint(laptop){
			bottom: auto;
			top: 100px;
		}
		&_lk{
			position: static;
			font-size: 30px;
			margin-bottom: 35px;
		}
	}
}
.catalog-level-01{
	margin-bottom: 80px;
}
.info-404{
	text-align: center;
}
.gradient-text {
	font-family: 'Oranienbaum', serif;
	background: linear-gradient(to right, rgba(99,99,222,1) 1%,rgba(93,173,166,1) 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	position: relative;
	line-height: 1;
	font-size:170px;
	@include breakpoint(laptop){
		font-size: 200px;
	}
	@include breakpoint(desktop){
		font-size: 272px;
	}
}
.information-text{
	position: absolute;
	width: 100%;
	top: 88%;
	left: 0;
	-webkit-text-fill-color: #000;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	font-family: 'Open Sans bold', sans-serif;
	font-weight: bold;
}
ul#productslider{
	margin: 30px 0;
	@include breakpoint(laptop){
		margin-top: 30px;
		margin-bottom: 0px;
	}

}
.compensation{
	span{
		font-family: 'Oranienbaum', serif;
		font-size: 24px;
	}
	span:nth-child(2){
		color: red;
	}
}
///text_information page
.sub-title{
	font-size: 14px;
	margin-bottom: 50px;
	//padding-left: 110px;
	
}
p.text-info{
	font-size: 17px;
	margin-bottom: 75px;
	line-height: 1.7;
	@include breakpoint(mobileonly){
		font-size: 14px;
	}
	
}
.paragraph{
	font-size: 17px;
	line-height: 1.7;
}

.text-img{
	float: left;
	padding: 30px 40px 30px 0;
}
.text-img-main{
	margin: 45px 0;
}
.wrapper-text {
	color: #2a2a2a;
	padding-left: 60px;
}
ul.text-info{
	margin: 50px 0;
	margin-left: 30px;
	
	li{
		color: #6363de;
		font-size: 16px;
		line-height: 1.7;
		@include breakpoint(mobileonly){
			font-size: 14px;
		}
		span{
			color: #2a2a2a;
		}
		a{
			color: #6363de;
			text-decoration: underline;
		}

	}
}
.center-subline{
	position: relative;
	padding-bottom: 20px;
	&:before{
		content: "";
		display: inline-block;
		height: 2px;
		width: 25px;
		background-color: black;
		bottom: 0;
		position: absolute;
		left: calc(50% - 12.5px);
	}
}
//end text_information page

//start congiguration page
.column-flex-laptop{
	@include breakpoint(laptop){
		&-3-4{
			flex-basis: 73%;
			@media (min-width:1400px){
				flex-basis: 75%;
					
			}
			
		}
		&-1-4{
			flex-basis: 25%;
			position: relative;
			align-items: flex-start;
			
			@media (min-width:1400px){
				flex-basis: 22.5%;
				&:after{
					content: "";
					display: inline-block;
					position: absolute;
					top: 0;
					bottom:0;
					background-color: #f4f4f4;
					width: 92px;
					right: -92px;
				}
				&.product_card:after{
					display: none;
				}
				
			}
			
			
		}
	}
	
}
.configuration {

	@media(min-width:1200px){
		padding: 0;
	}
	.flex{
		display: flex;
		justify-content: space-between;
	}
	@include breakpoint(laptop){
		.breadcrumbs{display: block;}
	}
	
	.title{
		text-align: left;
		margin: 25px 0 35px 0;
		display: block;
	}
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0;
	.clg-1, .cls-2, .cls-3 {
		fill:  #4fa4b6;
	}
}
.write-tag{
	fill:  #4fa4b6;
	
}
.package-config{
	text-align: center;
	&__img{
		border: 6px solid white;
		text-align: center;
		display: inline-block;
		&.active{
			border: 6px solid #459ebf;
		}
	}
	&__name{
		text-align: center;
		margin-top: 24px;
		input{
			display: none;
			&:checked + label{
				color: #419cc4;
				
				&:after{
					content: "\2713";
					position: absolute;
					left: 3px;
					font-weight: bold;
					color: #419cc4;
				}
			}
		}
		
		label{
			display: inline-flex;
			font-size: 16px;
			color: #2a2a2a;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			padding: 0 24px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				display: inline-block;
				height: 14px;
				width: 14px;
				background-color: white;
				left: 0;
			}
		}

	}
	
}
.option-config{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	
	
	&__list-title{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Open Sans bold', sans-serif;
		margin-bottom: 25px;
		&_block{
			width: 100%;
			
		}
	}
	&__item{
		flex-grow: 1;
		margin-bottom: 55px;
		
		&_stretch{
			display: flex;
			flex-wrap: wrap;
			
		}
		
		@include breakpoint(mobileonly){
			flex-basis: 100%;
		}
		&.product_card{
			flex-basis: auto;
		}
		
		input{
			display: none;
			
			&:checked + label{
				color: #2a2a2a;
				
				&:after{
					content: "\25CF";
					position: absolute;
					left: 4px;
					bottom: 3.1px;
					color: black;
					font-size: 0.9em;
				}
				&:before{
					border: 1px solid #6565df;
				}
			}
		}
		
		label{
			display: inline-flex;
			font-size: 17px;
			color: #2a2a2a;
			align-items: center;
			justify-content: center;
			padding: 0 0 0 24px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				border: 1px solid #bababa;
				border-radius: 50%;
				display: inline-block;
				height: 15px;
				width: 15px;
				background-color: white;
				left: 0;
			}
		}
	}
	&__list{
		list-style: none;
		line-height: 1.8;
		display: inline-block;
		flex-grow: 1;
		min-width: 175px;
		li{position: relative;}
		
		
	}
	
}
.column-label{
	background-color: #f4f4f4;
	&.product_card{
		background-color: transparent;
	}
	padding: 150px 0 20px 30px;
	display: none;
	@include breakpoint(laptop){
		display: flex;
	}
}
.label{
	padding: 25px;
	padding-right: 5px;
	padding-left: 20px;
	border: 2px solid #459ebf;
	max-width: 255px;
	z-index: 1;
	@include breakpoint(desktop){
		padding-left: 25px;
	}
	position: relative;
	&__text{
		font-family: 'Open Sans bold', sans-serif;
		font-weight: bold;
		font-size: 14px;
	}
	&__price{
		font-size: 30px;
		margin-bottom: 20px;
		span:first-child{
			font-family: 'Open Sans bold', sans-serif;
			font-weight: bold;
			padding-right: 10px;
		}
				
	}
	&.product_card:before{
		content: "";
		display: inline-block;
		width: 25px;
		height: 25px;
		border-top: 2px solid #459ebf;
		border-left: 2px solid #459ebf;
		position: absolute;
		transform: rotate(-45deg);
		top: 50px;
		left: -15px;
		background-color: white;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 25px;
		height: 25px;
		border-top: 2px solid #459ebf;
		border-left: 2px solid #459ebf;
		position: absolute;
		transform: rotate(-45deg);
		top: 50px;
		left: -15px;
		background-color: #f4f4f4;
	}
}
.wrap-shape{
	display: flex;
	margin-bottom: 100px;
	@include breakpoint(mobileonly){
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
}
.config-shape{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	align-items: flex-start;
	padding-top: 60px;
	@include breakpoint(mobileonly){
		width: 100%;
	}
	&__item{
		//margin-right: 50px;
		flex-basis: 140px;
		flex-flow: 1;
		input{
			display: none;
			img{
				display: block
			}
			&:checked + label{
				color: #2a2a2a;
				
				&:after{
					content: "\25CF";
					position: absolute;
					left: 4px;
					bottom: 3.1px;
					color: black;
					font-size: 0.9em;
				}
				&:before{
					border: 1px solid #6565df;
				}
			}
		}
		label{
			display: inline-flex;
			font-size: 17px;
			color: #2a2a2a;
			align-items: center;
			justify-content: center;
			padding: 0 0 0 24px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				border: 1px solid #bababa;
				border-radius: 50%;
				display: inline-block;
				height: 15px;
				width: 15px;
				background-color: white;
				left: 0;
			}
		}
		img{
			display: block;
			margin: 0 auto;
			margin-top: 10px;
		}
	}
}
.chosen-shape{
	width: 50%;
	display: block;
	text-align: right;
	@include breakpoint(mobileonly){
		width: 100%;
	}
	&__p-form{
		display: none;
		&.active{display:inline-block;}
	}
	&__line-form{
		display: none;
		&.active{display:inline-block;}
	}
	&__l-revers-form{
		display: none;
		&.active{display:inline-block;}
	}
	&__l-form{
		display: none;
		&.active{display:inline-block;}
	}
	&__img{
		position: relative;
		display: inline-block;
		padding-top: 60px;
		padding-right: 80px;
		label{
			position: absolute;
			&.top{
				top: 20px;
				left: 110px;
				
			}
			&.right{
				bottom: 0;
				right: 0;
				
			}
			&.bottom{
				bottom: -40px;
				left: calc(50% - 75px);
				@include breakpoint(tablet){
					bottom:0;
					left: 110px;
				}
				
			}
			&.left{
				bottom: 0;
				left: 110px;
			}
		}
		input{
			height: 35px;
			width: 45px;
			outline: none;
			border: 1px solid #bdbdd0;
			
			
		}
	}
	
	
}

.remember{
	display: none;
	position: absolute;
	padding: 20px 30px 30px 30px;
	z-index: 10;
	background: white;
	width: 270px;
	left: -125px;
	top: 50px;
	box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.2);
	&.active{
		display: inline-block;
	}
	&_left{
		left: 0;
		.remember__container:before{
			left: 0;
		}
	}
	&_right{
		right: 0;
	}
	&__name{
		font-size: 13px;
		color: #2a2a2a;
		display: inline-block;
		margin-left: 5px;
	}
	&__title{
		font-size: 14px;
		font-family: 'Open Sans bold', sans-serif;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__param{
		float: left;
		width: 50%;
		display: block;
		.remember__input{
			display: inline-block;
			border: 1px solid #bababa;
			width: 45px;
			height: 35px;
		}
		
	}
	&__container{
		display: inline-block;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			width: 25px;
			height: 23px;
			background-color: white;
			position: absolute;
			top: -32px;
			left: 93px;
			box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.1);
			transform: rotate(45deg);
		}
	}
	
	.btn{
		padding-left: 60px;
		padding-right: 60px;
		
		background: transparent;
	
	}
	.remember__save{
		text-align: center;
		margin-top: 20px;
		
	}
	
}
//end configuration page

// modal window
.fixed-overlay {
	position: fixed;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(70,70,70,0.7);
	z-index: 100;
	display: none;
	&.callback.active{display: block;}
	&.write-us.active{display: block;}
	&.call-measure.active{display: block;}
	&__modal{
		text-align: center;
		&::after {
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
			content: '';
		}
	}
}

.modal{
	display: inline-block;
	vertical-align: middle;
	opacity: 1;
	padding: 15px;
	background-color: white;
	
	&__container {
		text-align: center;
		white-space: normal;
		padding:22px 60px;
		border: 3px solid #575757;
		max-width: 445px;
		position: relative;
		&_call-measure, &_callback{
			max-width: 540px;
			padding: 120px  110px 22px 110px;
			.title {
				position: absolute;
				top: 25px;
				left: 60px;
				@include breakpoint(mobileonly){
					position: static;
				}
			}
			@include breakpoint(phablet){
				.wrap-input{
					min-width: 320px;
				}
			}
			
			
		}
		@include breakpoint(mobileonly){
			padding: 30px 10px 40px 10px;
		}
		.title {
			margin: 0;
			margin-bottom: 40px;
		}
	}
	
	textarea{
		resize: none;
		min-height: 85px;
		width: 100%;
	}
	.wrap-input{
		text-align: left;
		margin-bottom: 25px;
		
		span{
			font-size: 14px;
			font-family: 'Open Sans bold', sans-serif;
			font-weight: bold;
			margin-bottom: 10px;
			display: inline-block;
		}
	}
	input{
		height: 40px;
		max-width: 315px;
		width: 100%;
		outline: none;
		&[type="submit"]{
			background: transparent;
			width: auto;
			padding: 0 40px;

		}
	}
}


.your-manager{
	text-align: center;
	width: 100%;
	float: left;
	margin-right: 30px;
	margin-bottom: 50px;
	background: #f0f0f4;
	padding: 30px;
	@include breakpoint(phablet){
		width: 40%;
	}
	.title{
		letter-spacing: 2px;
		color: #898989;
		font-size: 13px;
		margin: 0 0 20px 0;
		font-family: 'Open Sans', sans-serif;
	}
	img{
		margin-bottom: 20px;
	}
	.manager-name{
		font-size: 24px;
		font-family: 'Oranienbaum', serif;
		color: #1c1b1b;
	}
	.manager-phone{
		font-size: 18px;
		color: #2a2a2a;
		margin-bottom: 10px;
		:last-child{
			font-family: 'Open Sans bold', sans-serif;
			font-weight: bold;
		}
	}
	.manager-mail{
		a{
			color: #6363de;
			text-decoration: underline;
		}
		margin-bottom: 25px;
	}
}
.your-order{
	width: 100%;
	.title{
		text-align: left;
		margin: 0 0 25px 0;
		font-size: 30px;
		@include breakpoint(laptop){
			margin: 0 0 45px 0;
		}
		&_progress{
			@include breakpoint(laptop){
				margin-left: 60px;
			}
		}
	}
}
.personal-cabinet{
	border-right: 1px solid #dadada;
	padding-bottom: 90px;
	@include breakpoint(laptop){
		margin-bottom:90px;
	}
}
.progress-bars{
	text-align: center;
}
.order-title{
	margin-bottom: 35px;
	// display: inline-block;
	@include breakpoint(laptop){
		margin-top: 175px;
	}
}
[class^=progressbar_]{
	position: relative;
	@include breakpoint(laptop){
		margin-left: 60px;
	}
}
[class^=progressbar-label_]{
	color: #2a2a2a;
	font-size: 12px;
	position: absolute;
	top: 20%;
	left: 47%;
}
.progress-text{
	margin-bottom: 43px;
}
.color-types{
	padding-bottom: 80px;
}
.color-type{
	position:relative;
	margin-bottom: 20px;
	&__name{
		font-family: 'Oranienbaum', serif;
		width: 100%;
		display: block;
		bottom: 0;
		left: 0;
		position: absolute;
		background: #000;
		padding: 4px 0;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		@include breakpoint(tablet){
			padding: 15px 0;
		}
	}
}
.about-color{
	@include breakpoint(tablet){
		padding: 30px;
	}
	&__title{
		font-family: 'Oranienbaum', serif;
		font-size: 30px;
		margin-bottom: 40px;
		max-width: 280px;
		@include breakpoint(tablet){
			// margin-top: 90px;
		}
	}
	p{
		// max-width: 410px;
		font-size: 17px;
		font-style:oblique;
		margin-bottom: 30px;
	}
}
.about-fasad{
	p{
		font-size: 17px;
		line-height: 1.5;
		margin-bottom: 40px;
		color: #2a2a2a;

	}
}
.fasad{
	position:relative;
	max-width: 430px;
	&__name{
		font-family: 'Oranienbaum', serif;
		width: 100%;
		display: block;
		bottom: 0;
		left: 0;
		position: absolute;
		background: #000;
		padding: 4px 0;
		text-align: center;
		color: #fff;
		@include breakpoint(tablet){
			padding: 15px 0;
		}
	}
}
.fasad-types{
	padding: 0 70px;
}
.product-describe{
	padding-left: 20px;
	&__name{
		margin-bottom: 20px;
		span{
			&:first-child{
				font-weight: bold;
				display: inline-block;
				margin-right: 30px;
			}
			&:last-child{
				color: #74b6d2;
			}
		}
	}
	&__text{
		margin-bottom: 30px;
		
	}
	&__price{
		font-size: 30px;
		margin-bottom: 30px;
		margin-top: 50px;
		
		span:first-child{
			font-family: 'Open Sans bold', sans-serif;
			font-weight: bold;
			padding-right: 10px;
		}
	}
	.btn_call-us {
		margin-right: 13px;
	}
	.clg-1, .cls-2, .cls-3 {
		fill:  #4fa4b6;
	}
	.btn_sort{
		padding: 15px 30px;
		margin-bottom: 20px;
		margin-top: 0;
	}
	&__more-info{
		margin-bottom: 30px;
		font-size: 13px;
	}
}
.card-navivation{
	display: flex;
	justify-content: space-around;
	padding: 50px 10px 25px 10px;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #dadada;
	&__item{
		
	}
	&__text{
		font-size: 14px;
		font-family: 'Open Sans bold', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 30px;
		text-align: center;
	}
	&__icon{
		text-align: center;
	}
	svg{
		width: 65px;
	}
}