@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em)  { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em)  { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em)  { @content ; }
	}
}

*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background: #fafafb;
}
.inner-wrapper{
	margin: 0 auto;
	max-width: 1200px;
	&_border-bottom{
		border-bottom: 1px solid #dadada;
	}
}
img{max-width: 100%;}
.header-top{
	font-size: 12px;
	background: #2a2a2a;
	color: #fff;
	padding: 12px 0;
}
.location{
	display: inline-block;
	margin-right: 100px;
	a{
		text-decoration-style: dotted;
		color: #fff;
	}
	span{
		padding-left: 20px;
	}
}
#pin{
	position: absolute;
	margin-right: 5px;
	.cls-1{
		fill: #fff;
	}
}
.company-info{
	display: inline-block;
	ul{
		list-style: none;
	}
	li{
		display: inline-block;
		margin-right: 35px;
	}
}
.header-bottom{
	padding: 10px 0;
	border-bottom: 1px solid #dadada;
	.logo{
		display: inline-block;
		span:first-child{
			color: #000;
			display: inline-block;
			font-size: 62px;
			font-family: 'Oranienbaum', serif;
			text-transform: uppercase;
			margin-right: 20px;
		} 
		span:last-child{
			margin: 0 30px;
			font-size: 12px;
			font-family: 'Open Sans', sans-serif;
			color: #898989;
			text-transform: none;
			max-width: 188px;
			display: inline-block;
			position: relative;
			top: -8px;
		}
	}
}
.btn{
	display: inline-block;
	padding: 10px;
	border: 1px solid #4fa4b6;
	border-radius: 30px;
	color: #000;
	&_calc{
		vertical-align: top;
		top: 10px;
		margin: 10px 5px;
		font-size: 13px;
		position: relative;
		padding-left: 50px;
		.icon{
			position: absolute;
			left: 15px;
			top: 7px;
		}
	}
}
.contact-info{
	position:relative;
	top: 10px;
	margin: 0 30px;
	text-align: right;
	display: inline-block;
	.time{
		font-size: 12px;
		color: #898989;
	}
	.callback{
		text-decoration: underline;
		text-decoration-style: dotted;
		font-size: 12px;
		color: #898989;
	}
}
.telephone{
	font-size: 24px;
	a{
		text-decoration: none;
		color: #2a2a2a;
	}
	:first-child{
		margin-right: 5px;
	}
	span:nth-child(2){
		font-weight: 300;
		margin-right: 5px;
	}
	span:last-child{
		font-family: 'Open Sans bold', sans-serif;
		font-weight: 700;
	}
	&_top-line{
		a{
			color: #fff;
		}
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 0px;
		right: 10px;
		vertical-align: top;
		font-size: 12px;
	}
}
.online-calc{
	display: inline-block;
}

.search{
	margin-right:20px;
	display:inline-block;
}

.favorite{
	display:inline-block;
	position: relative;
}

.fav-item-count{
	position: absolute;
	top: -5px;
	right: -16px;
	width: 22px;
	height: 16px;
	display: inline-block;
	font-size: 13px;
	border-radius: 40%;
	text-align: center;
	background: #ec0b0b;
	color: white;
	line-height: 16px;
}
.main-menu{
	padding: 15px 0;
	ul{
		display: flex;
		text-align: center;
		list-style:none;
		flex-wrap: wrap;
		justify-content: space-around;
		li{
			// margin:0 13px;
			margin-bottom: 30px;
			min-width: 106px;
			@include breakpoint(tablet){
				min-width: 0;
				margin-right:20px;
				margin-bottom: 30px;
			}
		}
		li:first-child{
			margin-left:0;
		}
		li:last-child{
			margin-right: 0;
		}
	}
	.menu-item{
		font-size: 14px;
		color:#000;
		font-weight: bold;
		font-family: 'Open Sans bold', sans-serif;
		.icon{
			margin-bottom: 20px;
			height: 41px;
			svg{
				height: 40px;
				vertical-align: bottom;
				.cls-1{
					fill: #6363de;
				}
			}
			&_bedroom{
				svg{
					height: 30px;
					vertical-align: bottom;
					.cls-1{
						fill: #6363de;
					}
				}
			}
			&_childrens{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: url(#gradient);
					}
				}
			}
			&_hallways{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: url(#gradient);
					}
				}
			}
			&_office{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: url(#gradient);
					}
				}
			}
			&_more{
				svg{
					vertical-align: bottom;
					.cls-1{
						fill: none;
					}
				}
			}
		}
	}
}
.title{
	margin: 50px 0;
	text-align: center;
	font-size: 52px;
	font-family: 'Oranienbaum', serif;
	color: #2a2a2a;
	@include breakpoint(mobileonly){
		font-size: 36px;
	}

}


.product-item{
	position: relative;
	margin-bottom: 20px;
	&__image{
		img{
			width: 100%;
		}
	}
	&__text{
		position: absolute;
		background:#2a2a2a;
		padding: 20px;
		color: #fff;
		width: 100%;
		bottom: 0;
	}
	&__name{
		font-size: 18px;
		font-weight: bold;
	}
	&__price{
		font-size: 13px;
		span:first-child{
			font-weight: bold;
		}
		span:last-child-child{
			font-weight: lighter;
		}
	}
	&__add-to-fav{
		position: absolute;
		top: 15px;
		right: 15px;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 10px;
		border-radius: 100%;
		&:hover{
			background-color: rgba(238, 46, 34, 0.6);
		}
	}
}
.advantages{
	margin-bottom: 30px;
	@include breakpoint(laptop){
		padding-left: 40px;
	}
	&__icon{
		width: 60px;
		height: 50px;
		display: inline-block;
		float: left;
		svg{
			height: 40px;
			vertical-align: bottom;
			.cls-1{
				fill: #6363de;
			}
		}
	}
	&__text{
		color: #2a2a2a;
		font-size: 14px;
		line-height: 1.6;
		padding-left: 90px;
		ul{
			margin-left: 14px;
		}
		li{
			color:  #6363de;
			
		}
		a{
			color: #2a2a2a;
			font-size: 12px;
		}
	}
	&__border-left{
		border-left: 1px solid #dadada;
	}
}

.all-our-works{
	font-size: 13px;
	text-decoration: underline;
	color: #898989;
	padding-left: 25px;
}
.product{
	margin-bottom: 40px;
	&__img{
		margin-bottom: 25px;
		text-align: center;
		position: relative;
		.product-item__add-to-fav{
			bottom: 15px;
			top: auto;
		}
	}
	&__title{
		font-size: 21px;
		font-family: 'Oranienbaum', sans-serif;
		color: #1c1b1b;
		padding-bottom: 15px;
		position: relative;
		margin-bottom: 20px;
		&:before{
			content: "";
			display: inline-block;
			height: 2px;
			width: 25px;
			background-color: black;
			bottom: 0;
			position: absolute;
		}
	}
	&__text{
		font-size: 14px;
		color: 6c6c6c;
		font-family: 'Open Sans regular', sans-serif;
		line-height: 1.55;
		max-height: 65px;
		overflow: hidden;
	}
}

.slider-arrows{
	position: relative;
	.icon_review_slider_prev{
		color: white;
		font-size: 2.5em;
		font-weight: 100;
		position: absolute;
		right: 80px;
	}
	.icon_review_slider_next{
		color: white;
		font-size: 2.5em;
		font-weight: 100;
		position: absolute;
		right: 0;
	}

}
.slider_controls{
	position: absolute;
	right: 40px;
	top: 15px;
	width: 100px;
	text-align: center;
	z-index: 10;
	cursor: pointer;
	@include breakpoint(tablet){
		
	}
}

.review-slider{
	padding: 40px 10px 65px 10px;
	background-color:#2a2a2a;
	border: 9px solid white;
	.lSSlideOuter {border: 9px solid white;}
	@include breakpoint(tablet){
		padding-left: 108px;
	}
	@include breakpoint(laptop){
		padding-right: 105px;
		padding-left: 208px;
	}
	@include breakpoint(desktop){
		padding-right: 105px;
		padding-left: 308px;
	}
	
	ul{
		list-style: none;
		&>li{
			//border: 9px solid white;
			padding: 40px;
			@include breakpoint(tablet){
				text-align: left;
				padding-left: 305px;
				min-height: 380px;
			}
			
		}
		
	}
	&__title{
		text-align: center;
		font-size: 52px;
		margin-bottom: 30px;
		color: white;
		font-family: 'Oranienbaum', sans-serif;
	}
	&__img{
		text-align: center;
		@include breakpoint(tablet){
			left: 10px;
			top: 180px;
			max-height: 300px;
			position: absolute;
			z-index: 11;
		}
		@include breakpoint(laptop){
			left: 110px;
		}
	}
	&__text{
		position: relative;
		margin-top: 50px;
		color: #d0d0d0;
		font-size: 14px;
		line-height: 1.7;
		@include breakpoint(tablet){
			margin: 0;
			padding-top: 85px;
		}
		&:before{
			content: "\201c";
			
			color: #555657;
			font-size: 15em;
			margin-top: -20px;
			font-family: 'Oranienbaum', sans-serif;
			position: absolute;
			top: -135px;
			@include breakpoint(tablet){
				top: -50px;
			}
		}
		
		
	}
	&__pager{
		color: white;
		position: relative;
		top: 15px;
		display: inline-block;
		span{
			&:first-child{
				font-size:14x;
				color: #d0d0d0;
				&:after{
					content: "/"
				}
			}
			&:last-child{
				font-size:24px;
			}
		}
	}
	.container{
		
		
		
	}
}
.footer{
	background-color: #f4f4f4;
	padding: 35px 10px 15px 10px;
	@include breakpoint(laptop){
		padding: 35px 50px 15px 50px;
	}
	ul{
		list-style: none;
	}
	&_flex-container{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: baseline;
		&:last-child{
			margin-top: 20px;
			display: none;
			@media (min-width:500px){
				display: flex;
			}
			@media (min-width:1385px){
				margin: 0;
			}
		}
		
	}
	
	&-list{
		display: inline-block;
		a{
			text-decoration: none;
			color: #6a6a6a;
			font-size: 13px;
			line-height: 1.3;
			@include breakpoint(tablet){
				line-height: 2.1;
			}
		}
		&__title{
			display: inline-block;
			font-size: 16px;
			margin-bottom: 20px;
			font-family: 'Open Sans bold', sans-serif;
			font-weight: bold;
			
		}
		&__subscribe{
			display: inline-block;
			
			input{
				height: 40px;
				outline: none;
				border: 1px solid #b2b2b2;
				padding: 0 13px;
				&:first-child{
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-right: none;
				}
				&[type="submit"]{
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					margin-left: -4px;
					background-color: #020202;
					color: white;
					font-size: 15px;
					font-weight: 600;
				}
				&[type="checkbox"]{
					display: none;
					&:checked + label{
						&:after{
							content: "\2713";
							position: absolute;
							left: 3px;
							font-weight: bold;
							color: #6a6a6a;
						}
					}
				}
				
			}
			label{
				display: flex;
				font-size: 13px;
				color: #6a6a6a;
				align-items: center;
				margin-top: 13px;
				padding: 0 24px;
				position: relative;
				&:before{
					position: absolute;
					content: "";
					display: inline-block;
					height: 14px;
					width: 14px;
					background-color: white;
					border: 1px solid #b2b2b2;
					left: 0;
				}
			}
		}
		&__info{
			flex-basis: 130px;
		}
		&__contacts{
			@include breakpoint(mobileonly){
				margin-left: 20px;
			}
			@media(min-width:500px){
				margin-right: 75px
			}
		}
		&__payment{
			footer-list__title{
				margin-bottom: 15px;
			}
			
			
			ul{
				display: flex;
			}
			li{
				display: inline-block;
				margin-right: 15px;
				
				
				a{
					display: flex;
					height: 35px;
					align-items: center;
				}
			}
			@media (min-width:1385px){
				margin-left: 345px;
				align-self: flex-end;
				
			}
		}
		&__social-item{
			display: inline-block;
			margin-right: 13px;
			margin-top: 20px;
			@include breakpoint(tablet){
				margin-top: 25px;
			}
		}
		&__advantages{
			margin-top: 40px;
		}
	}
	.bold{
		font-weight: bold;
		color: #1a1a1a;
	}
}