mixin remember
	.remember
		.remember__container
			.remember__param
				.remember__title Количество
				input.remember__input(type="number")
				.remember__name Шт.
			.remember__param
				.remember__title Высота
				input.remember__input(type="number")
				.remember__name мм.
			.clearfix
			.remember__save
				a.btn(href="#") Запомнить
.wrapper
	.configuration
		.title.title_left Выберите конфигурацию
			.configuration__price
				.text Примерная стоимость
				span 54 900.00
				span р.
		ul.step-bar
			li#step-bar_1.active Шаг. 1
			li#step-bar_2 Шаг. 2
			li#step-bar_3 Шаг. 3
			li#step-bar_4 Шаг. 4
			li#step-bar_5 Шаг. 5
			li#step-bar_6 Шаг. 6
			li#step-bar_7 Шаг. 7

		form
			.step#step_1.active
				.row.row_package-config.clearfix
					.configuration__title.configuration__title_marg-left_5 Категория
					.col-phablet-1-2.col-tablet-1-4
						.package-config.active
							.package-config__img
								img(src="images/product_04.png" alt="foto")
							.package-config__name
								input#base-config(type="radio" name="package-config" checked)
								label(for="base-config") Базовый
					.col-phablet-1-2.col-tablet-1-4.clearfix
						.package-config
							.package-config__img
								img(src="images/product_05.png" alt="foto")
							.package-config__name
								input#standart-config(type="radio" name="package-config")
								label(for="standart-config") Стандарт
					.col-phablet-1-2.col-tablet-1-4
						.package-config
							.package-config__img
								img(src="images/product_06.png" alt="foto")
							.package-config__name
								input#premium-config(type="radio" name="package-config")
								label(for="premium-config") Премиум
					.col-phablet-1-2.col-tablet-1-4
						.package-config
							.package-config__img
								img(src="images/product_06.png" alt="foto")
							.package-config__name
								input#individual-config(type="radio" name="package-config")
								label(for="individual-config") Индивидуальное предложение
				.next-config.active
					.btn.btn_back-step Вернуться назад
					span Следующий шаг:
					.btn.btn_next Выбрать размер
			.step#step_2
				.configuration__title Выбрать размер
				.wrap-shape
					.config-shape
						.config-shape__item
							input#shape_1(type="radio" name="shape" value="line-form")
							label(for="shape_1") Прямая
							img(src="images/conf-type_01.png")
						.config-shape__item
							input#shape_2(type="radio" name="shape" value="l-revers-form")
							label(for="shape_2") Г-образная
							img(src="images/conf-type_02.png")
						.config-shape__item
							input#shape_3(type="radio" name="shape" value="l-form")
							label(for="shape_3") Г-образная
							img(src="images/conf-type_03.png")
						.config-shape__item
							input#shape_4(type="radio" name="shape" value="p-form" checked)
							label(for="shape_4") П-образная
							img(src="images/conf-type_04.png")
					.chosen-shape
						.chosen-shape__p-form.active
							.chosen-shape__img
								img(src="images/conf-type-big_04.png")
								label.top
									input(type="number" min="1")
									|  См.
								label.right
									input(type="number" min="1")
									|  См.
								label.bottom
									input(type="number" min="1")
									|  См.
						.chosen-shape__line-form
							.chosen-shape__img
								img(src="images/conf-type-big_01.png")
								label.right
									input(type="number" min="1")
									|  См.
								label.top
									input(type="number" min="1")
									|  См.
						.chosen-shape__l-revers-form
							.chosen-shape__img
								img(src="images/conf-type-big_02.png")
								label.top
									input(type="number" min="1")
									|  См.
								label.left
									input(type="number" min="1")
									|  См.
						.chosen-shape__l-form
							.chosen-shape__img
								img(src="images/conf-type-big_03.png")
								label.top
									input(type="number" min="1")
									|  См.
								label.right
									input(type="number" min="1")
									|  См.
				.next-config.active
					.btn.btn_back-step Вернуться назад
					span Следующий шаг:
					.btn.btn_next Выбрать фасад
			.step#step_3
				mixin option-config(title, name, ...items)
					.option-config
						.option-config__item.product_card
							.configuration__title= title
							ul.option-config__list
								- var i=1;
								each item in items
									li
										input(type="radio" name=name id=name + i)
										label(for=name + i id=name + i)= item
									- i++
				+option-config('Фасад','facade', 'Массив Классика', 'МДФ Классика', 'МДФ Эмаль',' МДФ Пластик', 'МДФ Пленка')
				.next-config
					.btn.btn_back-step Вернуться назад
					span Следующий шаг:
					.btn.btn_next Выбрать корпус
			.step#step_4
				+option-config('Корпус','frame', 'ЛДСП', 'ЛМДФ', 'Береза, Сосна','Бук, Ольха', 'Дуб, Ясень')
				.next-config
					.btn.btn_back-step Вернуться назад
					span Следующий шаг:
					.btn.btn_next Выбрать форнитуру

			.step#step_5
				+option-config('Фурнитура','furniture',' Боярд', 'Блюм ', 'Хетим' )
				.next-config
					.btn.btn_back-step Вернуться назад
					span Следующий шаг:
					.btn.btn_next Выбрать наполнения
			.step#step_6
				+option-config('Наполнения', 'complectation', 'Корзина ', 'Понтограф', 'Выдвежные ящики', 'Брючница', 'Галстучница')
				.next-config
					.btn.btn_back-step Вернуться назад
					span Следующий шаг:
					.btn.btn_next Выбрать декор
			.step#step_7.decore
				.option-config__item.product_card
					.option-config__list-title Декор
					ul.option-config__list
						li
							input#decor1(type="radio" name="decor")
							label(for="decor1") Карниз
						li
							input#decor2(type="radio" name="decor")
							label(for="decor2") Цоколь массив
						li
							input#decor3(type="radio" name="decor")
							label(for="decor3") Пилястра 
						li
							input#decor4(type="radio" name="decor")
							label(for="decor4") Колонна
						li
							input#decor5(type="radio" name="decor")
							label(for="decor5") Резные ноги
						li
							input#decor6(type="radio" name="decor")
							label(for="decor6") Витраж
							+remember
				.next-config
					.btn.btn_back-step Вернуться назад
					span Следующий шаг:
					.btn.btn_next Завершить
			.step#step_8
				.done-config
					.configuration__title Ориентировочная стоимость
					.configuration__price
						span 54 900.00
						span р.
					.input-wrap
						input(placeholder="Представьтесь")
						input( type="tel" placeholder="+7(___) ___ - __ - __")
						input.mail( type="email" placeholder="E-mail")
						.flex
							input(type="submit" value="Отправить" )
							a.btn.btn_call-us(href="#")
								span
									include ../images/phone.svg
								|Заказать звонок
