.filters
	form
		.filters__close-btn.hide-laptop
			img(src="images/remove_item.png", alt="Спрятать фильтр")
		.filter__block
			.filter__block__name Современные кухни
			.filter__block__arrow
				include ../images/right_arrow.svg
		.filter__block
			.filter__block__name Кухни классика
			.filter__block__arrow
				include ../images/right_arrow.svg
		.filter__block.filter__block_no-border
			.filter__block__name Кухни неоклассика
			.filter__block__arrow
				include ../images/right_arrow.svg
		.filters__title
			|Подбор параметров
		.filter__block
			.filter__block__name.filter__block__name_params Выберите цвет
			.filter__block__arrow.filter__block__arrow_params.open
				include ../images/right_arrow.svg
			.filter__block__params
				.filter__block__item
					input(type="checkbox", name="s1", id="chkbox1")
					label(for="chkbox1")
						span Белый
				.filter__block__item
					input(type="checkbox" name="s2", id="chkbox2")
					label(for="chkbox2")
						span Желтый
				.filter__block__item
					input(type="checkbox" name="s3", id="chkbox3")
					label(for="chkbox3")
						span Зеленый
				.filter__block__item
					input(type="checkbox" name="s4", id="chkbox4")
					label(for="chkbox4")
						span Золотой
				.filter__block__item
					input(type="checkbox" name="s5", id="chkbox5")
					label(for="chkbox5")
						span Красный
				.filter__block__item
					input(type="checkbox" name="s6", id="chkbox6")
					label(for="chkbox6")
						span Натуральный/дерево
				.filter__block__item
					input(type="checkbox" name="s7", id="chkbox7")
					label(for="chkbox7")
						span Светлый
				.filter__block__item
					input(type="checkbox" name="s8", id="chkbox8")
					label(for="chkbox8")
						span Темный
				.filter__block__item
					input(type="checkbox" name="s9", id="chkbox9")
					label(for="chkbox9")
						span Синий
		.filter__block
			.filter__block__name.filter__block__name_params Выберите покрытие
			.filter__block__arrow.filter__block__arrow_params.open
				include ../images/right_arrow.svg
			.filter__block__params
				.filter__block__item
					input(type="checkbox", name="s10", id="chkbox10")
					label(for="chkbox10")
						span Глянцевые
				.filter__block__item
					input(type="checkbox" name="s11", id="chkbox11")
					label(for="chkbox11")
						span Матовые
				.filter__block__item
					input(type="checkbox" name="s12", id="chkbox12")
					label(for="chkbox12")
						span Древесные
				.filter__block__item
					input(type="checkbox" name="s13", id="chkbox13")
					label(for="chkbox13")
						span Фантазийные
		.filter__block
			.filter__block__name.filter__block__name_params Выберите декор
			.filter__block__arrow.filter__block__arrow_params.open
				include ../images/right_arrow.svg
			.filter__block__params
				.filter__block__item
					input(type="checkbox", name="s14", id="chkbox14")
					label(for="chkbox14")
						span Витражи
				.filter__block__item
					input(type="checkbox" name="s15", id="chkbox15")
					label(for="chkbox15")
						span Балюстрады
				.filter__block__item
					input(type="checkbox" name="s16", id="chkbox16")
					label(for="chkbox16")
						span Фрезеровка
				.filter__block__item
					input(type="checkbox" name="s17", id="chkbox17")
					label(for="chkbox17")
						span Карнизы
				.filter__block__item
					input(type="checkbox" name="s18", id="chkbox18")
					label(for="chkbox18")
						span Колонны
				.filter__block__item
					input(type="checkbox" name="s19", id="chkbox19")
					label(for="chkbox19")
						span Ниши и открытые секции
				.filter__block__item
					input(type="checkbox" name="s20", id="chkbox20")
					label(for="chkbox20")
						span Жалюзи
		.filter__block.filter__block_no-border
			.filter__block__name.filter__block__name_params Выберите материал
			.filter__block__arrow.filter__block__arrow_params.open
				include ../images/right_arrow.svg
			.filter__block__params
				.filter__block__item
					input(type="checkbox", name="s23", id="chkbox23")
					label(for="chkbox23")
						span Сосна
				.filter__block__item
					input(type="checkbox" name="s24", id="chkbox24")
					label(for="chkbox24")
						span Дуб
				.filter__block__item
					input(type="checkbox" name="s25", id="chkbox25")
					label(for="chkbox25")
						span Бук
				.filter__block__item
					input(type="checkbox" name="s26", id="chkbox26")
					label(for="chkbox26")
						span Ясень
				.filter__block__item
					input(type="checkbox" name="s27", id="chkbox27")
					label(for="chkbox27")
						span ЛДСП
				.filter__block__item
					input(type="checkbox" name="s28", id="chkbox28")
					label(for="chkbox28")
						span МДФ
				.filter__block__item
					input(type="checkbox" name="s28", id="chkbox28")
					label(for="chkbox28")
						span Береза
				.filter__block__item
					input(type="checkbox" name="s29", id="chkbox29")
					label(for="chkbox29")
						span Ольха
		button(type="submit").btn.btn_filter 
			span Показать  
			span 324 товара
		button(type="reset").dashed.dashed_black очистить фильтр