.wrapper
	.footer
		.footer_flex-container
			.footer-list.footer-list__info
				span.footer-list__title Информация
				ul
					li.footer-list__item
						a(href="#") О компании
					li.footer-list__item
						a(href="#") Новости
					li.footer-list__item
						a(href="#") Отзывы
					li.footer-list__item
						a(href="#") Робота у нас
					li.footer-list__item
						a(href="#") Оптовикам
					li.footer-list__item
						a(href="#") Поставщикам

			.footer-list.show-tablet
				span.footer-list__title Интернет-магазин
				ul
					li.footer-list__item
						a(href="#") Помощь в покупке
					li.footer-list__item
						a.bold(href="#") Доставка и оплата
					li.footer-list__item
						a(href="#") Услуга подьёма
					li.footer-list__item
						a(href="#") Сборка
					li.footer-list__item
						a(href="#") Часто задаваемые вопросы
					li.footer-list__item
						a(href="#") Гарантия
					li.footer-list__item
						a(href="#") Обмен и возврат

			.foter_flex-column
				.footer-list.show-tablet
					span.footer-list__title Спецпредложения
					ul
						li.footer-list__item
							a(href="#") Акции
						li.footer-list__item
							a(href="#") Распродажи
				.footer-list.footer-list__advantages.show-tablet
					span.footer-list__title Преимущестава
					ul
						li.footer-list__item
							a(href="#") Дисконтрая програма
						li.footer-list__item
							a(href="#") Надёжная компания
			.footer-list.footer-list__contacts
				span.footer-list__title Контакты
				ul
					li.footer-list__item
						a(href="#") 8 (490) 500-00-00  звонок бесплатный
					li.footer-list__item
						a(href="#")  8 (800) 500-70-20
					li.footer-list__item
						a(href="#") Москва, ул. Мироновская д.20
					li.footer-list__item
						a(href="#") E-mail: zakaz@mebel.ru
				ul.social-items
					li.social-item
						a(href="#")
							include ../images/twitter.svg
					li.social-item
						a(href="#")
							include ../images/vk.svg
					li.social-item
						a(href="#")
							include ../images/facebook.svg
					li.social-item
						a(href="#")
							include ../images/youtube.svg
		.footer_flex-container.min
			.footer-list.footer-list__payment
				span.footer-list__title Принимаем к оплате
				ul
					li
						a(href="#")
							img(src="images/mastercard.png")
					li
						a(href="#")
							img(src="images/visa.png")
			.footer-list.footer-list__subscribe
				span.footer-list__title Подпишись на акции и скидки
				form
					input( type="email" placeholder="Введите email")
					input(type="submit" value="Подписаться")
					input#footer-agreed(type="checkbox" required)
					label(for="footer-agreed") Cогласен предоставить данные
		.footer_wrap
			.footer-list.footer-list__subscribe.mobile
				span.footer-list__title Подпишись на акции и скидки
				form
					input( type="email" placeholder="Введите email")
					input(type="submit" value="Подписаться")
					input#footer-agreed1(type="checkbox" required)
					label(for="footer-agreed1") Cогласен предоставить данные