.wrapper
	form.form-line
		.title Оставьте свои данные и получите выезд проектировщика бесплатно!
		input(placeholder="Представьтесь")
		input( type="tel" placeholder="+7(___)___-__-__")
		input(type="submit" value="Получить")