.header-top
	.content-wrapper
		.location
			include ../images/pin.svg
			span 
				|Город:  
			a(href="#") Москва
		.company-info.show-tablet-inline
			ul
				li О компании
				li Контакты
				li Доставка
				li Оплата
				li Франшиза
		.telephone.telephone_top-line.hide-tablet
			a(href="tel:88000000121")
				span
					|+8 800
				span
					|000 01 21
		.enter.show-laptop-inline
			span
				|Войти
			.check-order
				span
					|Проверить состояние заказа
				include ../images/right_arrow.svg
					
.wrapper
	.header-bottom
		.content-wrapper
			.bars
				.bar
				.bar
				.bar
			a(href="#").logo
				span
					|Zorini
				span
					|Индивидуальное производство мебели из массива
			.search
				include ../images/search.svg
			.favorite
				include ../images/favorite.svg
				span.fav-item-count 4
			a(href="#").btn.btn_calc.show-laptop-inline
				.icon
					include ../images/calc.svg
				|Onine расчет
			a(href="#").btn.btn_calc.show-laptop-inline
				.icon
					include ../images/person.svg
				|Вызывать замерщика
			.contact-info.show-laptop-inline
				span.time
					|Время работы с 8:00 до 20:00
				.telephone
					a(href="tel:88000000121")
						include ../images/phone.svg
						span
							|+8 800
						span
							|000 01 21
				a(href="#")
					span.callback
						|перезвонить мне
			.search.show-laptop-inline
				include ../images/search.svg
			.favorite.show-laptop-inline
				include ../images/favorite.svg
				span.fav-item-count 4
.wrapper
	.main-menu
		.content-wrapper
			ul
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/cupboard.svg
						.text
							span Шкафы
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/kitchen.svg
						.text
							span Кухни
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/biblioteka.svg
						.text
							span Библиотеки
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/commode.svg
						.text
							span Шкафы
				li
					a(href="#").menu-item
						.icon.icon_bedroom
							include ../images/menu/bedroom.svg
						.text
							span Спальни
				li
					a(href="#").menu-item
						.icon.icon_childrens
							include ../images/menu/childrens_furniture.svg
						.text
							span Детские
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/living_rooms.svg
						.text
							span Гостинные
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/doors.svg
						.text
							span Двери
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/bathroom.svg
						.text
							span Ванная
				li
					a(href="#").menu-item
						.icon
							include ../images/menu/dressing_rooms.svg
						.text
							span Гардеробные
				li
					a(href="#").menu-item
						.icon.icon_office
							include ../images/menu/biblioteka.svg
						.text
							span Офис
				li
					a(href="#").menu-item
						.icon.icon_hallways
							include ../images/menu/hallways.svg
						.text
							span Прихожая
				li
					a(href="#").menu-item
						.icon.icon_more
							include ../images/menu/show-more.svg
						.text
							span Показать все