.header-top
	.content-wrapper
		.location
			span.icon.icon_pin
			span
				|Город:
			a(href="#") Москва
		.company-info.show-laptop-inline
			ul
				li
					a(href="#") О компании
				li
					a(href="#") Контакты
				li
					a(href="#") Доставка
				li
					a(href="#") Оплата
				li
					a(href="#") Франшиза
		.telephone.telephone_top-line.hide-laptop
			a(href="tel:88000000121")
				span
					|+8 800
				span
					|000 01 21
		a(href="#").enter.show-laptop-inline
			span
				|Войти
			.check-order
				span
					|Проверить состояние заказа
				span.icon.icon_arrow-right
.header-bottom
	.content-wrapper
		.bars.hide-laptop
			.bar
			.bar
			.bar
		a(href="index.html").logo
			span
				|Zorini
			span
				|Индивидуальное производство мебели из массива
		.header-icons
			.search.hide-laptop
				span.icon.icon_search
			.favorite.hide-laptop
				span.icon.icon_favorites
				span.fav-item-count 4
		a(href="#").btn.btn_calc.show-phablet-inline
			.icon
				span.icon.icon_calc
			|Onine расчет
		a(href="#").btn.btn_calc.show-phablet-inline
			.icon
				span.icon.icon_person
			|Вызывать замерщика
		.contact-info.show-laptop-inline
			span.time
				|Время работы с 8:00 до 20:00
			.telephone
				a(href="tel:88000000121")
					span.icon.icon_phone
					span
						|+8 800
					span
						|000 01 21
			a(href="#")
				span.callback
					|перезвонить мне
		.search.show-laptop-inline
			span.icon.icon_search
		.favorite.show-laptop-inline
			span.icon.icon_favorites
			span.fav-item-count 4
		.search-form
			form
				input(type="text", placeholder="", name="search")
				button(type="submit")
					i.fa.fa-search
	.hide-phablet.header-buttons
		.content-wrapper
			a(href="#").btn.btn_calc
				|Onine расчет
			a(href="#").btn.btn_calc
				|Вызывать замерщика
.wrapper.show-laptop.main-menu-border
	.main-menu.content-wrapper
		ul
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_13.png")
					.text
						span Шкафы
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_06.png")
					.text
						span Кухни
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_01.png")
					.text
						span Библиотеки
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_10.png")
					.text
						span Комоды
			li
				a(href="#").menu-item
					.icon.icon_bedroom
						img(src="images/menu_icons/menu-item_07.png")
					.text
						span Спальни
			li
				a(href="#").menu-item
					.icon.icon_childrens
						img(src="images/menu_icons/menu-item_05.png")
					.text
						span Детские
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_09.png")
					.text
						span Гостинные
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_08.png")
					.text
						span Двери
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_12.png")
					.text
						span Ванная
			li
				a(href="#").menu-item
					.icon
						img(src="images/menu_icons/menu-item_16.png")
					.text
						span Гардеробные
			li
				a(href="#").menu-item
					.icon.icon_office
						img(src="images/menu_icons/menu-item_18.png")
					.text
						span Офис
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_17.png")
					.text
						span Прихожая
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_04.png")
					.text
						span Лестницы
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_03.png")
					.text
						span Паркет
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_19.png")
					.text
						span Торговое оборудование
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_14.png")
					.text
						span Стеновые панели
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_20.png")
					.text
						span Кесонные потолки
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_11.png")
					.text
						span Мебель
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_15.png")
					.text
						span Фассады
			li
				a(href="#").menu-item
					.icon.icon_hallways
						img(src="images/menu_icons/menu-item_02.png")
					.text
						span Кабинет
			ul.show-all
				li
					a(href="#").menu-item
						.icon.icon_more
							span.icon.icon_more
						.text
							span Показать все
.wrapper
	.main-menu-mobile
		.close-btn
			img(src="images/remove_item.png", alt="Спрятать фильтр")
		a(href="#").enter.enter_mobile
			span
				|Войти
		a(href="#").check-order.check-order_mobile
			span
				|Проверить состояние заказа
			span.icon.icon_arrow-right
		.contact-info.contact-info_mobile
				span.time
					|Время работы с 8:00 до 20:00
				.telephone
					a(href="tel:88000000121")
						span
							|+8 800
						span
							|000 01 21
				a(href="#")
					span.callback
						|перезвонить мне
		.company-info.company-info_mobile
			ul#dot
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_13.png")
						.text
							span Шкафы
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_06.png")
						.text
							span Кухни
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_01.png")
						.text
							span Библиотеки
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_10.png")
						.text
							span Шкафы
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_bedroom
							img(src="images/menu_icons/menu-item_07.png")
						.text
							span Спальни
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_childrens
							img(src="images/menu_icons/menu-item_05.png")
						.text
							span Детские
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_09.png")
						.text
							span Гостинные
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_08.png")
						.text
							span Двери
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_12.png")
						.text
							span Ванная
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon
							img(src="images/menu_icons/menu-item_16.png")
						.text
							span Гардеробные
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_18.png")
						.text
							span Офис
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_17.png")
						.text
							span Прихожая
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_04.png")
						.text
							span Лестницы
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_03.png")
						.text
							span Паркет
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_19.png")
						.text
							span Торговое оборудование
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_14.png")
						.text
							span Стеновые панели
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_20.png")
						.text
							span Кесонные потолки
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_11.png")
						.text
							span Мебель
						.arrow
							span.icon.icon_arrow-right
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_15.png")
						.text
							span Фассады
						.arrow
							span.icon.icon_arrow-right
				li
					a(href="#").mobile-menu-item
						.icon.icon_office
							img(src="images/menu_icons/menu-item_02.png")
						.text
							span Кабинет
						.arrow
							span.icon.icon_arrow-right
		.readmore
			span Показать все
			img(src="images/show-more.png", alt="icon")
		.company-info.company-info_mobile
			ul
				li
					a(href="#") О компании
				li
					a(href="#") Контакты
				li
					a(href="#") Доставка
				li
					a(href="#") Оплата
				li
					a(href="#") Франшиза
				li
					a.readmore(href="#")
