.fixed-overlay.fixed-overlay__modal.write-us
	.modal
		span.icon-remove-item
		.modal__container
			form
				.title.title_modal Написать Нам
				.wrap-input
					span Представтесь
					input
				.wrap-input
					span Номер телефона
					input(type="tel" placeholder="+7(___) ___ - __ - __")
				.wrap-input
					span E-mail
					input(type="email")
				.wrap-input
					span Сообщение
					textarea
				input.btn(type="submit" value="Отправить")
.fixed-overlay.fixed-overlay__modal.callback
	.modal
		span.icon-remove-item
		.modal__container.modal__container_callback
			span.icon.icon_remove-item
			form
				.title.title_modal Обратный звонок
				.wrap-input
					span Представтесь
					input
				.wrap-input
					span Номер телефона
					input(type="tel" placeholder="+7(___) ___ - __ - __")
				input.btn(type="submit" value="Отправить")
.fixed-overlay.fixed-overlay__modal.call-measure
	.modal
		span.icon-remove-item
		.modal__container.modal__container_call-measure
			span.icon.icon_remove-item
			form
				.title.title_modal Вызвать Замерщика
				.wrap-input
					span Представтесь
					input
				.wrap-input
					span Номер телефона
					input(type="tel" placeholder="+7(___) ___ - __ - __")
				input.btn(type="submit" value="Отправить")