html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.backdrop
		.wrapper
			.content-wrapper
				ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Каталог
				h2.catalog-title Современные кухни
				a.btn.btn_filter.hide-laptop(id="show-filter-mobile")
					|Показать фильтрацию
				.row.clearfix
					.col-laptop-1-5
						.filters
							form
								.filters__close-btn.hide-tablet
									img(src="images/remove_item.png", alt="Спрятать фильтр")
								.filter__block
									.filter__block__name Современные кухни
									.filter__block__arrow
										include ./images/right_arrow.svg
								.filter__block
									.filter__block__name Кухни классика
									.filter__block__arrow
										include ./images/right_arrow.svg
								.filter__block
									.filter__block__name Кухни неоклассика
									.filter__block__arrow
										include ./images/right_arrow.svg
								.filter__block.filter__block.filter__block_no-border
									.filter__block__name Проект KarMa
								.filters__title
									|Подбор параметров
								.filter__block
									.filter__block__name.filter__block__name_params Выберите цвет
									.filter__block__arrow.filter__block__arrow_params.open
										include ./images/right_arrow.svg
									.filter__block__params
										.filter__block__item
											input(type="checkbox", name="s1", id="chkbox1")
											label(for="chkbox1")
												span Белый
										.filter__block__item
											input(type="checkbox" name="s2", id="chkbox2")
											label(for="chkbox2")
												span Желтый
										.filter__block__item
											input(type="checkbox" name="s3", id="chkbox3")
											label(for="chkbox3")
												span Зеленый
										.filter__block__item
											input(type="checkbox" name="s4", id="chkbox4")
											label(for="chkbox4")
												span Золотой
										.filter__block__item
											input(type="checkbox" name="s5", id="chkbox5")
											label(for="chkbox5")
												span Красный
										.filter__block__item
											input(type="checkbox" name="s6", id="chkbox6")
											label(for="chkbox6")
												span Натуральный/дерево
										.filter__block__item
											input(type="checkbox" name="s7", id="chkbox7")
											label(for="chkbox7")
												span Светлый
										.filter__block__item
											input(type="checkbox" name="s8", id="chkbox8")
											label(for="chkbox8")
												span Темный
										.filter__block__item
											input(type="checkbox" name="s9", id="chkbox9")
											label(for="chkbox9")
												span Синий
								.filter__block
									.filter__block__name.filter__block__name_params Выберите покрытие
									.filter__block__arrow.filter__block__arrow_params.open
										include ./images/right_arrow.svg
									.filter__block__params
										.filter__block__item
											input(type="checkbox", name="s10", id="chkbox10")
											label(for="chkbox10")
												span Глянцевые
										.filter__block__item
											input(type="checkbox" name="s11", id="chkbox11")
											label(for="chkbox11")
												span Матовые
										.filter__block__item
											input(type="checkbox" name="s12", id="chkbox12")
											label(for="chkbox12")
												span Древесные
										.filter__block__item
											input(type="checkbox" name="s13", id="chkbox13")
											label(for="chkbox13")
												span Фантазийные
								.filter__block.filter__block_no-border
									.filter__block__name.filter__block__name_params Выберите декор
									.filter__block__arrow.filter__block__arrow_params.open
										include ./images/right_arrow.svg
									.filter__block__params
										.filter__block__item
											input(type="checkbox", name="s14", id="chkbox14")
											label(for="chkbox14")
												span Витражи
										.filter__block__item
											input(type="checkbox" name="s15", id="chkbox15")
											label(for="chkbox15")
												span Балюстрады
										.filter__block__item
											input(type="checkbox" name="s16", id="chkbox16")
											label(for="chkbox16")
												span Фрезеровка
										.filter__block__item
											input(type="checkbox" name="s17", id="chkbox17")
											label(for="chkbox17")
												span Карнизы
										.filter__block__item
											input(type="checkbox" name="s18", id="chkbox18")
											label(for="chkbox18")
												span Колонны
										.filter__block__item
											input(type="checkbox" name="s19", id="chkbox19")
											label(for="chkbox19")
												span Ниши и открытые секции
										.filter__block__item
											input(type="checkbox" name="s20", id="chkbox20")
											label(for="chkbox20")
												span Жалюзи
										.filter__block__item
											input(type="checkbox" name="s21", id="chkbox21")
											label(for="chkbox21")
												span Цветные кромки
										.filter__block__item
											input(type="checkbox" name="s22", id="chkbox22")
											label(for="chkbox22")
												span Муратура
								button(type="submit").btn.btn_filter 
									span Показать  
									span 324 товара
								button(type="reset").dashed.dashed_black очистить фильтр
					.col-laptop-4-5.no-padding.no-padding_tablet
						.sort-items
							.btn.btn_sort
								|эко
							.btn.btn_sort
								|ретро
							.btn.btn_sort
								|стильные
							.btn.btn_sort
								|функциональные
							.btn.btn_sort
								|винтаж
						.show-items-on-page.show-tablet-inline
							span
								|Показывать по:
							a(href="#")
								span
									|15
							a(href="#").active
								span
									|25
							a(href="#")
								span
									|35
						.clerfix
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_01.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_02.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_03.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_01.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_02.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_03.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_01.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_02.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
							.col-phablet-1-3
								.product-item
									a(href="#").product-item__add-to-fav
										img(src="images/like.png" alt="like")
									.product-item__image
										img(src="images/product_03.png" alt="product")
									.product-item__mark
										|Хит продаж
									.product-item__text
										.product-item__name
											|Кухня Модесто
										.product-item__price
											span
												|54 900.00 
											span
												|р./м.пог.
						.paginator.paginator_catalog
							ul
								a(href="#")
									li.prev
										i.fa.fa-angle-left
								a(href="#")
									li 1
								a(href="#")
									li.active 2
								a(href="#")
									li 3
								a(href="#").show-tablet-inline
									li 4
								a(href="#").show-tablet-inline
									li 5
								a(href="#").show-tablet-inline
									li 6
								a(href="#")
									li.next
										i.fa.fa-angle-right
						.title.title_left Выполненные проекты
						.clearfix
							.col-phablet-1-2
								.product
									.product__img
										img(src="images/product_05.png" alt="foto")
									.product__title Кухня Модесто
									.product__text Кабинет Галактион коричневого цвета из массива на три предмета на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. 
							.col-phablet-1-2
								.product
									.product__img
										img(src="images/product_06.png" alt="foto")
									.product__title Кухня Модесто
									.product__text Кабинет Галактион коричневого цвета из массива на три предмета на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. 
						.title.title_left Кухня из массива
						p.text В каталоге кухонь представлена подробная информация о каждом из образцов от Мебельной фабрики. Вы обязательно подберете желаемый вариант, ведь наши модели удивительно разноплановы. В процессе принятия решения вы можете опираться на цены базовых компоновок, которые содержит каталог кухонной мебели. Окончательную стоимость можно узнать, заказав бесплатный дизайн-проект.
						p.text  каталоге кухонь представлена подробная информация о каждом из образцов от Мебельной фабрики. Вы обязательно подберете желаемый вариант, ведь наши модели удивительно разноплановы. В процессе принятия решения вы можете опираться на цены базовых компоновок, которые содержит каталог кухонной мебели. Окончательную стоимость можно узнать, заказав бесплатный дизайн-проект. В каталоге кухонь представлена подробная информация о каждом из образцов от Мебельной фабрики. Вы обязательно подберете желаемый вариант, ведь наши модели удивительно разноплановы. В процессе принятия решения вы можете опираться на цены базовых компоновок, которые содержит каталог кухонной мебели. Окончательную стоимость можно узнать, заказав бесплатный дизайн-проект.
		include ./parts/footer.pug