doctype html
html(lang="ru")
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		include ./parts/modal-windows.pug
		.wrapper
			.content-wrapper
				ul.breadcrumbs.show-laptop.breadcrumbs_no-margin
							li
								a(href="index.html") Главная
							li
								a(href="#") Каталог
				.fasad-page
					h1 Фасады
				.fasad-item
					.row.clearfix
						.col-tablet-1-2.photo.padding-30
							.row.clearfix
								.col-mobileonly-1-2.col-phablet-1-2
									.btn.btn_fasad-left
										|Посмотреть все фасады
								.col-mobileonly-1-2.col-phablet-1-2
									.fasad-colors-wrap
										.btn.btn_fasad-right
											|Выбрать другой цвет
										.fasad-popup
											.fasad-colors
												.fasad-colors__block
													h4 Выбрать цвет фасада
													.icon-remove-item
													label
														input(type="checkbox")
														span.black
													label
														input(type="checkbox")
														span.nut
													label
														input(type="checkbox")
														span.milk
													label
														input(type="checkbox")
														span.powder
													label
														input(type="checkbox")
														span.nut
													label
														input(type="checkbox")
														span.light
													label
														input(type="checkbox")
														span.powder
													label
														input(type="checkbox")
														span.light
													label
														input(type="checkbox")
														span.black
													label
														input(type="checkbox")
														span.light
												h4 Выбрать цвет патины
												label
													input(type="checkbox")
													span.light
												label
													input(type="checkbox")
													span.powder
												label
													input(type="checkbox")
													span.light
												label
													input(type="checkbox")
													span.black
												label
													input(type="checkbox")
													span.light
							.fasad-slider-wrapper.clearfix
								.slider-btn.slider-btn_prev
								.slider-btn.slider-btn_next
								.fasad-slider.verona
									img(src="images/fasads/01.png",alt="")
									img(src="images/fasads/02.png",alt="")
									img(src="images/fasads/03.png",alt="")
									img(src="images/fasads/04.png",alt="")
									img(src="images/fasads/05.png",alt="")
									img(src="images/fasads/06.png",alt="")
								.fasad-slider-nav.verona-nav
									img(src="images/fasads/01.png",alt="")
									img(src="images/fasads/02.png",alt="")
									img(src="images/fasads/03.png",alt="")
									img(src="images/fasads/04.png",alt="")
									img(src="images/fasads/05.png",alt="")
									img(src="images/fasads/06.png",alt="")
						.col-tablet-1-2.text.padding-20
							h3 Фасад Верона
							p Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum.
				.fasad-item.fasad-item_right.fasad-item_margin-0
					.row.clearfix
						.col-tablet-1-2.photo.padding-30
							.row.clearfix
								.col-mobileonly-1-2.col-phablet-1-2
									.btn.btn_fasad-left
										|Посмотреть все фасады
								.col-mobileonly-1-2.col-phablet-1-2
									.fasad-colors-wrap
										.btn.btn_fasad-right
											|Выбрать другой цвет
										.fasad-popup
											.fasad-colors
												.fasad-colors__block
													h4 Выбрать цвет фасада
													.icon-remove-item
													label
														input(type="checkbox")
														span.black
													label
														input(type="checkbox")
														span.nut
													label
														input(type="checkbox")
														span.milk
													label
														input(type="checkbox")
														span.powder
													label
														input(type="checkbox")
														span.nut
													label
														input(type="checkbox")
														span.light
													label
														input(type="checkbox")
														span.powder
													label
														input(type="checkbox")
														span.light
													label
														input(type="checkbox")
														span.black
													label
														input(type="checkbox")
														span.light
												h4 Выбрать цвет патины
												label
													input(type="checkbox")
													span.light
												label
													input(type="checkbox")
													span.powder
												label
													input(type="checkbox")
													span.light
												label
													input(type="checkbox")
													span.black
												label
													input(type="checkbox")
													span.light
							.fasad-slider-wrapper.clearfix
								.slider-btn.slider-btn_prev
								.slider-btn.slider-btn_next
								.fasad-slider.venezia
									img(src="images/fasads/01.png",alt="")
									img(src="images/fasads/02.png",alt="")
									img(src="images/fasads/03.png",alt="")
									img(src="images/fasads/04.png",alt="")
									img(src="images/fasads/05.png",alt="")
									img(src="images/fasads/06.png",alt="")
								.fasad-slider-nav.venezia-nav
									img(src="images/fasads/01.png",alt="")
									img(src="images/fasads/02.png",alt="")
									img(src="images/fasads/03.png",alt="")
									img(src="images/fasads/04.png",alt="")
									img(src="images/fasads/05.png",alt="")
									img(src="images/fasads/06.png",alt="")
						.col-tablet-1-2.text.padding-20
							h3 Фасад Верона
							p Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum.
						.col-tablet
							.btn.btn_show-more Показать еще
		include ./parts/footer.pug
