html
	head
		include ./parts/head.pug
	body
		.header-top
			.content-wrapper
				.location
					include ./images/pin.svg
					span Город:
					a(href="#") Москва
				.company-info
					ul
						li О компании
						li Контакты
						li Доставка
						li Оплата
						li Франшиза
		.header-bottom
			.wrapper
				.content-wrapper
					.logo
						|Zorini
						span
							|Индивидуальное производство мебели из массива
		
	.wrapper
		.footer
			.footer-list
				span.footer-list__title Информация
				ul
					li.footer-list__item
						a(href="#") О компании
					li.footer-list__item
						a(href="#") Новости
					li.footer-list__item
						a(href="#") Отзывы
					li.footer-list__item
						a(href="#") Робота у нас
					li.footer-list__item
						a(href="#") Оптовикам
					li.footer-list__item
						a(href="#") Поставщикам

			.footer-list.show-tablet
				span.footer-list__title Интернет-магазин
				ul
					li.footer-list__item
						a(href="#") Помощь в покупке
					li.footer-list__item
						a(href="#") Доставка и оплата
					li.footer-list__item
						a(href="#") Услуга подьёма
					li.footer-list__item
						a(href="#") Сборка
					li.footer-list__item
						a(href="#") Часто задаваемые вопросы
					li.footer-list__item
						a(href="#") Гарантия
					li.footer-list__item
						a(href="#") Обмен и возврат
			.footer-list.show-tablet
				span.footer-list__title Принимаем к оплате
				ul
					li.footer-list__item
						a(href="#")
							img(src="")
					li.footer-list__item
						a(href="#")
							img(src="")
			.show-tablet
					.footer-list
						span.footer-list__title Спецпредложения
						ul
							li.footer-list__item
								a(href="#") Акции
							li.footer-list__item
								a(href="#") Распродажи
					.footer-list
						span.footer-list__title Преимущестава
						ul
							li.footer-list__item
								a(href="#") Дисконтрая програма
							li.footer-list__item
								a(href="#") Надёжная компания
			.footer-list
				span.footer-list__title Контакты
				ul
					li.footer-list__item
						a(href="#") 8 (490) 500-00-00  звонок бесплатный  
					li.footer-list__item
						a(href="#")  8 (800) 500-70-20
					li.footer-list__item
						a(href="#") Москва, ул. Мироновская д.20
					li.footer-list__item
						a(href="#") E-mail: zakaz@mebel.ru

			.footer-list.footer-list_social-items
				ul
					li.footer-list__social-item
						a(href="#")
							img(src="")
					li.footer-list__social-item
						a(href="#")
							img(src="")
					li.footer-list__social-item
						a(href="#")
							img(src="")
					li.footer-list__social-item
						a(href="#")
							img(src="")
				.footer-list
					span.footer-list__title Подпишись на акции и скидки
					input( type="email" placeholder="Введите email")
					input(type="submit" value="Подписаться")
					label
						input(type="checkbox")
						| Cогласен предоставить данные