html
	head
		include ./parts/head.pug
	body
		.header-top
			.content-wrapper
				.location
					include ./images/pin.svg
					span Город:  
					a(href="#") Москва
				.company-info
					ul
						li О компании
						li Контакты
						li Доставка
						li Оплата
						li Франшиза
		.header-bottom
			.wrapper
				.content-wrapper
					.logo
						|Zorini
						span
							|Индивидуальное производство мебели из массива