html
	head
		include ./parts/head.pug
	body
		.header-top
			.content-wrapper
				.location
					include ./images/pin.svg
					span 
						|Город:  
					a(href="#") Москва
				.company-info.show-tablet-inline
					ul
						li О компании
						li Контакты
						li Доставка
						li Оплата
						li Франшиза
				.telephone.telephone_top-line.hide-tablet
					a(href="tel:88000000121")
						span
							|+8 800
						span
							|000 01 21
		.wrapper
			.header-bottom
				.content-wrapper
					a(href="#").logo
						span
							|Zorini
						span
							|Индивидуальное производство мебели из массива
					a(href="#").btn.btn_calc
						.icon
							include ./images/calc.svg
						|Onine расчет
					a(href="#").btn.btn_calc
						.icon
							include ./images/person.svg
						|Вызывать замерщика
					.contact-info.show-tablet-inline
						span.time
							|Время работы с 8:00 до 20:00
						.telephone
							a(href="tel:88000000121")
								include ./images/phone.svg
								span
									|+8 800
								span
									|000 01 21
						a(href="#")
							span.callback
								|перезвонить мне
					.search
						include ./images/search.svg
					.favorite
						include ./images/favorite.svg
						span.fav-item-count 4
	.wrapper
		.main-menu
			.content-wrapper
				ul
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/cupboard.svg
							.text
								span Шкафы
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/kitchen.svg
							.text
								span Кухни
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/biblioteka.svg
							.text
								span Библиотеки
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/commode.svg
							.text
								span Шкафы
					li
						a(href="#").menu-item
							.icon.icon_bedroom
								include ./images/menu/bedroom.svg
							.text
								span Спальни
					li
						a(href="#").menu-item
							.icon.icon_childrens
								include ./images/menu/childrens_furniture.svg
							.text
								span Детские
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/living_rooms.svg
							.text
								span Гостинные
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/doors.svg
							.text
								span Двери
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/bathroom.svg
							.text
								span Ванная
					li
						a(href="#").menu-item
							.icon
								include ./images/menu/dressing_rooms.svg
							.text
								span Гардеробные
					li
						a(href="#").menu-item
							.icon.icon_office
								include ./images/menu/biblioteka.svg
							.text
								span Офис
					li
						a(href="#").menu-item
							.icon.icon_hallways
								include ./images/menu/hallways.svg
							.text
								span Прихожая
					li
						a(href="#").menu-item
							.icon.icon_more
								include ./images/menu/show-more.svg
							.text
								span Показать все
	.wrapper
		ul#promoslider
			li
				.promo
					.promo__pic
						img(src="images/main_banner.png" alt="promopic")
					.promo__text
						
			li
				.promo
					.promo__pic
						img(src="images/main_banner.png" alt="promopic")
					.promo__text
			li
				.promo
					.promo__pic
						img(src="images/main_banner.png" alt="promopic")
					.promo__text
	.wrapper
		.title
			|Хиты продаж
		.content-wrapper
			.clearfix
				.col-phablet-1-3
					.product-item
						a(href="#").product-item__add-to-fav
							img(src="images/like.png" alt="like")
						.product-item__image
							img(src="images/product_01.png" alt="product")
						.product-item__text
							.product-item__name
								|Кухня Модесто
							.product-item__price
								span
									|54 900.00 
								span
									|р./м.пог.
				.col-phablet-1-3
					.product-item
						a(href="#").product-item__add-to-fav
							img(src="images/like.png" alt="like")
						.product-item__image
							img(src="images/product_02.png" alt="product")
						.product-item__text
							.product-item__name
								|Кухня Модесто
							.product-item__price
								span
									|54 900.00 
								span
									|р./м.пог.
				.col-phablet-1-3
					.product-item
						a(href="#").product-item__add-to-fav
							img(src="images/like.png" alt="like")
						.product-item__image
							img(src="images/product_03.png" alt="product")
						.product-item__text
							.product-item__name
								|Кухня Модесто
							.product-item__price
								span
									|54 900.00 
								span
									|р./м.пог.
	.wrapper
		ul#newsslider
			li
				a(href="#").promo
					.promo__pic
						img(src="images/news_banner.png" alt="promopic")
					.promo__text
						
			li
				a(href="#").promo
					.promo__pic
						img(src="images/news_banner.png" alt="promopic")
					.promo__text
			li
				a(href="#").promo
					.promo__pic
						img(src="images/news_banner.png" alt="promopic")
					.promo__text
			
	.section__title Наши работы
		a(hreg="#") Все  наши работы
	.our-works
		row.clearfix
			.col-phablet-1-2.col-tablet-1-3
				.product
					.product__img
						img(src="images/product_04.png" alt="foto")
					.product__title Кухня Модесто
					.product__text Кабинет Ян в классическом стиле из массива темного оттенка со столом на заказ от студии «Зевс».
			.col-phablet-1-2.col-tablet-1-3.clearfix
				.product
					.product__img
						img(src="images/product_05.png" alt="foto")
					.product__title Кухня Модесто
					.product__text Кабинет Галактион коричневого цвета из массива на три предмета на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях.
			.col-phablet-1-2.col-tablet-1-3.clearfix
				.product
					.product__img
						img(src="images/product_06.png" alt="foto")
					.product__title Кухня Модесто
					.product__text Кабинет Галактион коричневого цвета из массива на три предмета на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях.
			
			.col-tablet-2-3.show-tablet
				.product
					.product__img
						img(src="images/product_09.png" alt="foto")
					.product__title Кухня Модесто
					.product__text Кабинет Галактион коричневого цвета из массива на три предмета на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях.
			.col-phablet-1-2.col-tablet-1-3
				.product
					.product__img
						img(src="images/product_07.png" alt="foto")
					.product__title Кухня Модесто
					.product__text Кабинет Галактион коричневого цвета из массива на три предмета на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях.
			.col-tablet-1-3.show-tablet
				.product
					.product__img
						img(src="images/product_08.png" alt="foto")
					.product__title Кухня Модесто
					.product__text Кабинет Галактион коричневого цвета из массива на три предмета на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях.
	.wrapper
		.review-slider
			.review-slider__title Отзывы
			.review-slider__img
				img(src="images/product_08.png")
			.slider-arrows
				.slider_controls
					span.icon.icon_review_slider_prev.ls-prevSlide &#x2329
					.review-slider__pager
						span 1
						span 3
					span.icon.icon_review_slider_next.ls-nextSlide &#x232A
			ul#review-slider
				li
					.review-slider__text Очень благодарна mebel-zevs за скорость и качество. мы делали ремонт в спальне и нам необходимо было купить тумбочку, 2 кресла и шкаф. долго искали то, что понравится и будет по качеству соответствовать цене. и наш выбор упал на мебель Зевс. как раз все вписалось под наш интерьер. и ребята, которые приезжали, собирали все - сделали аккуратно и быстро. в квартире не было неприятного запаха клея или еще чего-то, как обычно бывает когда новую мебель покупают. однозначно рекомендую студию.
				li
					.review-slider__text  Очень благодарна mebel-zevs за скорость и качество. мы делали ремонт в спальне и нам необходимо было купить тумбочку, 2 кресла и шкаф. долго искали то, что понравится и будет по качеству соответствовать цене. и наш выбор упал на мебель Зевс. как раз все вписалось под наш интерьер. и ребята, которые приезжали, собирали все - сделали аккуратно и быстро. в квартире не было неприятного запаха клея или еще чего-то, как обычно бывает когда новую мебель покупают. однозначно рекомендую студию.
				li
					.review-slider__text  Очень благодарна mebel-zevs за скорость и качество. мы делали ремонт в спальне и нам необходимо было купить тумбочку, 2 кресла и шкаф. долго искали то, что понравится и будет по качеству соответствовать цене. и наш выбор упал на мебель Зевс. как раз все вписалось под наш интерьер. и ребята, которые приезжали, собирали все - сделали аккуратно и быстро. в квартире не было неприятного запаха клея или еще чего-то, как обычно бывает когда новую мебель покупают. однозначно рекомендую студию.

				
					
		.footer
			.footer_flex-container
				.footer-list.footer-list__info
					span.footer-list__title Информация
					ul
						li.footer-list__item
							a(href="#") О компании
						li.footer-list__item
							a(href="#") Новости
						li.footer-list__item
							a(href="#") Отзывы
						li.footer-list__item
							a(href="#") Робота у нас
						li.footer-list__item
							a(href="#") Оптовикам
						li.footer-list__item
							a(href="#") Поставщикам

				.footer-list.show-tablet
					span.footer-list__title Интернет-магазин
					ul
						li.footer-list__item
							a(href="#") Помощь в покупке
						li.footer-list__item
							a.bold(href="#") Доставка и оплата
						li.footer-list__item
							a(href="#") Услуга подьёма
						li.footer-list__item
							a(href="#") Сборка
						li.footer-list__item
							a(href="#") Часто задаваемые вопросы
						li.footer-list__item
							a(href="#") Гарантия
						li.footer-list__item
							a(href="#") Обмен и возврат
				
				.foter_flex-column
					.footer-list.show-tablet
						span.footer-list__title Спецпредложения
						ul
							li.footer-list__item
								a(href="#") Акции
							li.footer-list__item
								a(href="#") Распродажи
					.footer-list.footer-list__advantages.show-tablet
						span.footer-list__title Преимущестава
						ul
							li.footer-list__item
								a(href="#") Дисконтрая програма
							li.footer-list__item
								a(href="#") Надёжная компания
				.footer-list.footer-list__contacts
					span.footer-list__title Контакты
					ul
						li.footer-list__item
							a(href="#") 8 (490) 500-00-00  звонок бесплатный  
						li.footer-list__item
							a(href="#")  8 (800) 500-70-20
						li.footer-list__item
							a(href="#") Москва, ул. Мироновская д.20
						li.footer-list__item
							a(href="#") E-mail: zakaz@mebel.ru
					ul
						li.footer-list__social-item
							a(href="#")
								img(src="images/twitter.png")
						li.footer-list__social-item
							a(href="#")
								img(src="images/vk.png")
						li.footer-list__social-item
							a(href="#")
								img(src="images/fb.png")
						li.footer-list__social-item
							a(href="#")
								img(src="images/youtube.png")
			.footer_flex-container
				.footer-list.footer-list__payment
					span.footer-list__title Принимаем к оплате
					ul
						li
							a(href="#")
								img(src="images/mastercard.png")
						li
							a(href="#")
								img(src="images/visa.png")
				.footer-list.footer-list__subscribe
					span.footer-list__title Подпишись на акции и скидки
					form
						input( type="email" placeholder="Введите email")
						input(type="submit" value="Подписаться")
						input#footer-agreed(type="checkbox" required)
						label(for="footer-agreed") Cогласен предоставить данные