html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		
		.wrapper
			.content-wrapper
				ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Каталог
				.news
					.title Новости
					mixin product-row
						.product
							.product__data.product__data_top 12.01.2016
							.product__title.product__title_off-line Кухня Модесто
							.product__img
								img(src="images/news_01.png" alt="foto")
							.product__text Кабинет Ян в классическом стиле из массива темного оттенка со столом на заказ от студии «Зевс». Кабинет Ян в классическом стиле из массива темного оттенка со столом на заказ от студии «Зевс». Кабинет Ян в классическом стиле из массива темного оттенка со столом на заказ от студии «Зевс». Кабинет Ян в классическом стиле из массива темного оттенка со столом на заказ от студии «Зевс». Кабинет Ян в классическом стиле из массива темного оттенка со столом на заказ от студии «Зевс». Кабинет Ян в классическом стиле из массива темного оттенка со столом на заказ от студии «Зевс».
							a.btn.btn__product(href="#") Читать далее
					+product-row
					+product-row
					+product-row
					.paginator.paginator_news
						ul
							a(href="#")
								li.prev
									i.fa.fa-angle-left
							a(href="#")
								li 1
							a(href="#")
								li.active 2
							a(href="#")
								li 3
							a(href="#").show-tablet-inline
								li 4
							a(href="#").show-tablet-inline
								li 5
							a(href="#").show-tablet-inline
								li 6
							a(href="#")
								li.next
									i.fa.fa-angle-right

		include ./parts/form-line.pug
			
				

		include ./parts/footer.pug
	