html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		include ./parts/modal-windows.pug
		.wrapper
			.content-wrapper
				.row.clearfix
					h2.product-card-title Кухня Albano
					.col-tablet-3-5
						ul#lightSlider_product_card
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
					.col-tablet-2-5
						.product-describe
							.product-describe__name
								span Описание модели Albano
							.product-describe__text Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области.
							.catalog-item__description
								table
									tbody
										tr
											td
												span Стиль
											td неокласика
										tr
											td
												span Размер
											td 154х150х60
										tr
											td
												span Материалы
											td Камень, МДФ, Массив дуба
										tr
											td
												span Фурнитура
											td Hetich
										tr
											td
												span Фасад
											td Бергонци
										tr
											td
												span Цвет
											td 9999999
							.product-describe__price
								span 54 900.00
								span р./м.пог.
							
							a.btn.btn_sort.active(href="#") Возможные конфигурации
							.product-describe__more-info Уточните интересующую вас информацию написав нам или заказав звонок
							a.btn.btn_call-us(href="#")
								span
									include images/phone.svg
								|Заказать звонок
							a.btn.btn_write-us(href="#")
								span
									include images/write-tag.svg
								|Написать нам
			.card-navivation.clearfix
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#fasad-info").card-navivation__item
						.card-navivation__icon
							img(src="images/fasad_icon.png", alt="icon")
						.card-navivation__text ФАСАДЫ
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#production").card-navivation__item
						.card-navivation__icon
							include ./images/production_icon.svg
						.card-navivation__text ПРОИЗВОДСТВО
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#colors").card-navivation__item
						.card-navivation__icon
							img(src="images/color_icon.png", alt="icon")
						.card-navivation__text ЦВЕТА
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#rewiews").card-navivation__item
						.card-navivation__icon
							include ./images/write-tag.svg
						.card-navivation__text ОТЗЫВЫ 
		include ./parts/configuration.pug
		.wrapper
			.content-wrapper
				.about-kitchen.about-kitchen_top.clearfix
					img(src="images/about_kitchen_01.png")
					p Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области
				.about-kitchen.about-kitchen_rigth.about-kitchen_bottom.clearfix
					img(src="images/about_kitchen_02.png")
					p Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области	
		.fasad-types#fasad-info
			h2
				|Фасады
			.content-wrapper
				.fasad-item.fasad-item_margin-0
					.row.clearfix
						.col-tablet-1-2.photo.padding-30
							.row.clearfix
								.col-mobileonly-1-2.col-phablet-1-2
									.btn.btn_fasad-left
										|Посмотреть все фасады
								.col-mobileonly-1-2.col-phablet-1-2
									.fasad-colors-wrap
										.btn.btn_fasad-right
											|Выбрать другой цвет
										.fasad-popup
											.fasad-colors
												.fasad-colors__block
													h4 Выбрать цвет фасада
													.icon-remove-item
													label
														input(type="checkbox")
														span.black
													label
														input(type="checkbox")
														span.nut
													label
														input(type="checkbox")
														span.milk
													label
														input(type="checkbox")
														span.powder
													label
														input(type="checkbox")
														span.nut
													label
														input(type="checkbox")
														span.light
													label
														input(type="checkbox")
														span.powder
													label
														input(type="checkbox")
														span.light
													label
														input(type="checkbox")
														span.black
													label
														input(type="checkbox")
														span.light
												h4 Выбрать цвет патины
												label
													input(type="checkbox")
													span.light
												label
													input(type="checkbox")
													span.powder
												label
													input(type="checkbox")
													span.light
												label
													input(type="checkbox")
													span.black
												label
													input(type="checkbox")
													span.light
							.fasad-slider-wrapper.clearfix
								.slider-btn.slider-btn_prev
								.slider-btn.slider-btn_next
								.fasad-slider.verona
									img(src="images/fasads/01.png",alt="")
									img(src="images/fasads/02.png",alt="")
									img(src="images/fasads/03.png",alt="")
									img(src="images/fasads/04.png",alt="")
									img(src="images/fasads/05.png",alt="")
									img(src="images/fasads/06.png",alt="")
								.fasad-slider-nav.verona-nav
									img(src="images/fasads/01.png",alt="")
									img(src="images/fasads/02.png",alt="")
									img(src="images/fasads/03.png",alt="")
									img(src="images/fasads/04.png",alt="")
									img(src="images/fasads/05.png",alt="")
									img(src="images/fasads/06.png",alt="")
						.col-tablet-1-2.text.padding-20
							h3 Фасад Верона
							p Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum. Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum.
		.wrapper
			.content-wrapper
				.color-types#colors
					h2
						| Примеры цветовых решений
					.row.clearfix
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_01.png")
								.color-type__name
									| ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_02.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_03.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
				.color-types.color-types_bottom
					.row.clearfix
						.col-tablet-1-2
							.about-color
								.about-color__title
									| Склад красок на нашем производстве
								p
									| Наше производство использует краски интальянских брендов saerlack и  это дает нам уверенностьв том что фасады прослужат долго и неизменят своего цвета даже при постоянном нахождении под солнцем.

						.col-tablet-1-2
							img(src="images/color_factory.png", alt="photo")
		.wrapper.wrapper_section-bg
			.content-wrapper
				.reviews-box#production
					.row.clearfix#rewiews
						.col-phablet-1-2.padding-right
							.title Производство ZORINI
							.reviews-box__img
								a(href="#")
									img(src="images/review_05.png")
						.col-phablet-1-2.padding-left
							.title.title_margin-top Отзывы о ZORINI
							.row.clearfix
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img
										a(href="#")
											img(src="images/review_01.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img
										a(href="#")
											img(src="images/review_02.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img.reviews-box__img_margin-top
										a(href="#")
											img(src="images/review_03.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img.reviews-box__img_margin-top
										a(href="#")
											img(src="images/review_04.png")
		include ./parts/form-line.pug
		.wrapper
			.title.title_padding
				|Похожие модели
			.content-wrapper
				.clearfix
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_01.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог.
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_02.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог.
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_03.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00 
									span
										|р./м.пог.
		include ./parts/footer.pug
