html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		include ./parts/modal-windows.pug
		include ./parts/configuration.pug
		.content-wrapper
			.fasad-types
				h2
					| Фасады для кухни Albano
				.row.clearfix
					.col-tablet-1-2
						ul#fasadslider
								li
									.fasad
										img(src="images/fasad_01.png")
										.fasad__name
											|ALBANO с прямой филенкой
					.col-tablet-1-2
						p Фасады для модели Альбано выполнены в неоклассическом стиле и мы их изготаливаем из древесины бука, которая проходит специальную термальную обработку что делает ее лучшим вариантом для кухонных гарнитуров.
		.wrapper
			.content-wrapper
				h2
					| Примеры цветовых решений
				.color-types
					.row.clearfix
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								img(src="images/color-type_01.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								img(src="images/color-type_02.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								img(src="images/color-type_03.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
				.color-types
					.row.clearfix
						.col-tablet-1-2
							.about-color
								.about-color__title
									| Склад красок на нашем производстве
								p
									| Наше производство использует краски интальянских брендов saerlack и  это дает нам уверенностьв том что фасады прослужат долго и неизменят своего цвета даже при постоянном нахождении под солнцем.

						.col-tablet-1-2
							img(src="images/color_factory.png", alt="photo")
		include ./parts/form-line.pug
		.wrapper
			.title
				|Похожие модели
			.content-wrapper
				.clearfix
					.col-phablet-1-3
						.product-item
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								img(src="images/product_01.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								.product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог. 
					.col-phablet-1-3
						.product-item
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								img(src="images/product_02.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								.product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог.
					.col-phablet-1-3
						.product-item
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								img(src="images/product_03.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								.product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00 
									span
										|р./м.пог.
		include ./parts/footer.pug