html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		include ./parts/modal-windows.pug
		.wrapper
			.content-wrapper
				.row.clearfix
					h2.product-card-title Кухня Albano
					.col-tablet-3-5
						ul#lightSlider_product_card
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
					.col-tablet-2-5
						.product-describe
							.product-describe__name
								span Описание модели Albano
							.product-describe__text Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области.
							.catalog-item__description
								table
									tbody
										tr
											td
												span Стиль
											td неокласика
										tr
											td
												span Размер
											td 154х150х60
										tr
											td
												span Материалы
											td Камень, МДФ, Массив дуба
										tr
											td
												span Фурнитура
											td Hetich
										tr
											td
												span Фасад
											td Бергонци
										tr
											td
												span Цвет
											td 9999999
							
							.product-describe__price
								span 54 900.00
								span р./м.пог.
							.wra
							a.btn.btn_sort.active(href="#") Возможные конфигурации
							.product-describe__more-info Сотрудничаем с заказчиками из Москвы и Московской области.
							a.btn.btn_call-us(href="#")
								span
									include images/phone.svg
								|Заказать звонок
							a.btn.btn_write-us(href="#")
								span
									include images/write-tag.svg
								|Написать нам
			.card-navivation.clearfix
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#fasad-info").card-navivation__item
						.card-navivation__icon
							img(src="images/fasad_icon.png", alt="icon")
						.card-navivation__text ФАСАДЫ
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#production").card-navivation__item
						.card-navivation__icon
							include ./images/production_icon.svg
						.card-navivation__text ПРОИЗВОДСТВО
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#colors").card-navivation__item
						.card-navivation__icon
							img(src="images/color_icon.png", alt="icon")
						.card-navivation__text ЦВЕТА
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#rewiews").card-navivation__item
						.card-navivation__icon
							include ./images/write-tag.svg
						.card-navivation__text ОТЗЫВЫ
		//include ./parts/configuration1.pug
						a.btn(href="#") Запомнить
		.wrapper
			.configuration
				.title.title_left Выберите конфигурацию
					.configuration__price
						.text Примерная стоимость
						span 54 900.00
						span р.
				ul.step-bar
					li#step-bar_1.active Шаг. 1
					li#step-bar_2 Шаг. 2
					li#step-bar_3 Шаг. 3
					li#step-bar_4 Шаг. 4
					li#step-bar_5 Шаг. 5
					li#step-bar_6 Шаг. 6
					li#step-bar_7 Шаг. 7

				form
					.step#step_1.active
						.row.row_package-config.clearfix
							.configuration__title.configuration__title_marg-left_5 Категория
							.col-phablet-1-2.col-tablet-1-4
								.package-config.active
									.package-config__img
										img(src="images/product_04.png" alt="foto")
									.package-config__name
										input#base-config(type="radio" name="package-config" checked)
										label(for="base-config") Базовый
							.col-phablet-1-2.col-tablet-1-4.clearfix
								.package-config
									.package-config__img
										img(src="images/product_05.png" alt="foto")
									.package-config__name
										input#standart-config(type="radio" name="package-config")
										label(for="standart-config") Стандарт
							.col-phablet-1-2.col-tablet-1-4
								.package-config
									.package-config__img
										img(src="images/product_06.png" alt="foto")
									.package-config__name
										input#premium-config(type="radio" name="package-config")
										label(for="premium-config") Премиум
							.col-phablet-1-2.col-tablet-1-4
								.package-config
									.package-config__img
										img(src="images/product_06.png" alt="foto")
									.package-config__name
										input#individual-config(type="radio" name="package-config")
										label(for="individual-config") Индивидуальное предложение
						.next-config.active
							span Следующий шаг:
							.btn.btn_next Выбрать размер
					.step#step_2
						.configuration__title Выбрать размер
						.wrap-shape
							.config-shape
								.config-shape__item
									input#shape_1(type="radio" name="shape" value="line-form")
									label(for="shape_1") Прямая
									img(src="images/conf-type_01.png")
								.config-shape__item
									input#shape_2(type="radio" name="shape" value="l-revers-form")
									label(for="shape_2") Г-образная
									img(src="images/conf-type_02.png")
								.config-shape__item
									input#shape_3(type="radio" name="shape" value="l-form")
									label(for="shape_3") Г-образная
									img(src="images/conf-type_03.png")
								.config-shape__item
									input#shape_4(type="radio" name="shape" value="p-form" checked)
									label(for="shape_4") П-образная
									img(src="images/conf-type_04.png")
							.chosen-shape
								.chosen-shape__p-form.active
									.chosen-shape__img
										img(src="images/conf-type-big_04.png")
										label.top
											input(type="number" min="1")
											|  См.
										label.right
											input(type="number" min="1")
											|  См.
										label.bottom
											input(type="number" min="1")
											|  См.
								.chosen-shape__line-form
									.chosen-shape__img
										img(src="images/conf-type-big_01.png")
										label.right
											input(type="number" min="1")
											|  См.
										label.top
											input(type="number" min="1")
											|  См.
								.chosen-shape__l-revers-form
									.chosen-shape__img
										img(src="images/conf-type-big_02.png")
										label.top
											input(type="number" min="1")
											|  См.
										label.left
											input(type="number" min="1")
											|  См.
								.chosen-shape__l-form
									.chosen-shape__img
										img(src="images/conf-type-big_03.png")
										label.top
											input(type="number" min="1")
											|  См.
										label.right
											input(type="number" min="1")
											|  См.
						.next-config.active
							span Следующий шаг:
							.btn.btn_next Выбрать фасад
					.step#step_3
						mixin option-config(title, name, ...items)
							.option-config
								.option-config__item.product_card
									.configuration__title= title
									ul.option-config__list
										- var i=1;
										each item in items
											li
												input(type="radio" name=name id=name + i)
												label(for=name + i id=name + i)= item
											- i++
						+option-config('Фасад','facade', 'Массив Классика', 'МДФ Классика', 'МДФ Эмаль',' МДФ Пластик', 'МДФ Пленка')
						.next-config
							span Следующий шаг:
							.btn.btn_next Выбрать корпус
					.step#step_4
						+option-config('Корпус','frame', 'ЛДСП', 'ЛМДФ', 'Береза, Сосна','Бук, Ольха', 'Дуб, Ясень')
						.next-config
							span Следующий шаг:
							.btn.btn_next Выбрать форнитуру

					.step#step_5
						+option-config('Фурнитура','furniture',' Боярд', 'Блюм ', 'Хетим' )
						.next-config
							span Следующий шаг:
							.btn.btn_next Выбрать наполнения
					.step#step_6
						+option-config('Наполнения', 'complectation', 'Корзина ', 'Понтограф', 'Выдвежные ящики', 'Брючница', 'Галстучница')
						.next-config
							span Следующий шаг:
							.btn.btn_next Выбрать декор
					.step#step_7
						.option-config__item.product_card
							.option-config__list-title Декор
							ul.option-config__list
								li
									input#decor1(type="radio" name="decor")
									label(for="decor1") Карниз
								li
									input#decor2(type="radio" name="decor")
									label(for="decor2") Цоколь массив
								li
									input#decor3(type="radio" name="decor")
									label(for="decor3") Пилястра 
								li
									input#decor4(type="radio" name="decor")
									label(for="decor4") Колонна
								li
									input#decor5(type="radio" name="decor")
									label(for="decor5") Резные ноги
								li
									input#decor6(type="radio" name="decor")
									label(for="decor6") Витраж
									//+remember
						.next-config
							span Следующий шаг:
							.btn.btn_next Завершить
					.step#step_8
						.done-config
							.configuration__title Ориентировочная стоимость
							.configuration__price
								span 54 900.00
								span р.
							.input-wrap
								input(placeholder="Представьтесь")
								input( type="tel" placeholder="+7(___) ___ - __ - __")
								input.mail( type="email" placeholder="E-mail")
								.flex
									input(type="submit" value="Отправить" )
									a.btn.btn_call-us(href="#")
										span
											include images/phone.svg
										|Заказать звонок
								
							
						
						
		.wrapper
			.content-wrapper
				.about-kitchen.clearfix
					img(src="images/about_kitchen_01.png")
					p Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области
				.about-kitchen.about-kitchen_rigth.clearfix
					img(src="images/about_kitchen_02.png")
					p Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области
			.content-wrapper
				.fasad-types#fasad-info
					h2
						| Фасады для кухни Albano
					.row.clearfix
						.col-tablet-1-2.fasadslide
							ul#fasadslider
									li
										.fasad
											img(src="images/fasad_01.png")
											.fasad__name
												|ALBANO с прямой филенкой
						.col-tablet-1-2
							p Фасады для модели Альбано выполнены в неоклассическом стиле и мы их изготаливаем из древесины бука, которая проходит специальную термальную обработку что делает ее лучшим вариантом для кухонных гарнитуров.
							ul
								li
									span ЭКОЛОГИЧНОСТЬ 
									span наша древесина и клей самый экологичный
								li
									span ДОЛГОВЕЧНОСТЬ 
									span мы делаем исключительно по высочайшим стандартам итальянских фабрик на немецком оборудовани.
								li
									span ЦВЕТ 
									span вы можете выбрать любой оттенок исходя исключительно из своих пожеланий
							.btn-wrapper
								a(href="#").btn.btn_get
									|Получить
				.color-types#colors
					h2
						|Примеры цветовых решений
					.row.clearfix
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_01.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_02.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_03.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
				.color-types.color-types_bottom
					.row.clearfix
						.col-tablet-1-2
							.about-color
								.about-color__title
									| Склад красок на нашем производстве
								p
									| Наше производство использует краски интальянских брендов saerlack и  это дает нам уверенностьв том что фасады прослужат долго и неизменят своего цвета даже при постоянном нахождении под солнцем.

						.col-tablet-1-2
							img(src="images/color_factory.png", alt="photo")
		.wrapper.wrapper_section-bg
			.content-wrapper
				.reviews-box#production
					.row.clearfix#rewiews
						.col-phablet-1-2.padding-right
							.title Производство ZORINI
							.reviews-box__img
								a(href="#")
									img(src="images/review_05.png")
						.col-phablet-1-2.padding-left
							.title.title_margin-top Отзывы о ZORINI
							.row.clearfix
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img
										a(href="#")
											img(src="images/review_01.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img
										a(href="#")
											img(src="images/review_02.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img.reviews-box__img_margin-top
										a(href="#")
											img(src="images/review_03.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img.reviews-box__img_margin-top
										a(href="#")
											img(src="images/review_04.png")
		include ./parts/form-line.pug
		.wrapper
			.title.title_padding
				|Похожие модели
			.content-wrapper
				.clearfix
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_01.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог. 
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_02.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог.
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_03.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00 
									span
										|р./м.пог.
		include ./parts/footer.pug