html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		include ./parts/modal-windows.pug
		.wrapper
			.content-wrapper
				.row.clearfix
					h2.product-card-title Кухня Albano
					.col-tablet-3-5
						ul#lightSlider_product_card
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
								li(data-thumb="images/product_card-slider.png")
									img(src="images/product_card-slider.png")
					.col-tablet-2-5
						.product-describe
							.product-describe__name
								span Описание модели Albano
							.product-describe__text Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области.
							.catalog-item__description
								table
									tbody
										tr
											td
												span Стиль
											td неокласика
										tr
											td
												span Размер
											td 154х150х60
										tr
											td
												span Материалы
											td Камень, МДФ, Массив дуба
										tr
											td
												span Фурнитура
											td Hetich
										tr
											td
												span Фасад
											td Бергонци
										tr
											td
												span Цвет
											td 9999999
							
							.product-describe__price
								span 54 900.00
								span р./м.пог.
							
							a.btn.btn_sort.active(href="#") Возможные конфыгураце
							.product-describe__more-info Сотрудничаем с заказчиками из Москвы и Московской области.
							a.btn.btn_call-us(href="#")
								span
									include images/phone.svg
								|Заказать звонок
							a.btn.btn_write-us(href="#")
								span
									include images/write-tag.svg
								|Написать нам
			.card-navivation.clearfix
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#fasad-info").card-navivation__item
						.card-navivation__icon
							img(src="images/fasad_icon.png", alt="icon")
						.card-navivation__text ФАСАДЫ
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#production").card-navivation__item
						.card-navivation__icon
							include ./images/production_icon.svg
						.card-navivation__text ПРОИЗВОДСТВО
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#colors").card-navivation__item
						.card-navivation__icon
							img(src="images/color_icon.png", alt="icon")
						.card-navivation__text ЦВЕТА
				.col-phablet-1-4.col-mobileonly-1-2
					a(href="#rewiews").card-navivation__item
						.card-navivation__icon
							include ./images/write-tag.svg
						.card-navivation__text ОТЗЫВЫ
		include ./parts/configuration1.pug
		.wrapper
			.content-wrapper
				.about-kitchen.clearfix
					img(src="images/about_kitchen_01.png")
					p Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области
				.about-kitchen.about-kitchen_rigth.clearfix
					img(src="images/about_kitchen_02.png")
					p Кухня Albano коричневого цвета в стиле современной классики на две секции на заказ от студии «Зевс». Мы осуществляем изготовление на выгодных условиях. Предлагаем индивидуальный подход, высокое качество исходных материалов и готовых изделий, предоставляем гарантию на продукцию. Сотрудничаем с заказчиками из Москвы и Московской области
			.content-wrapper
				.fasad-types#fasad-info
					h2
						| Фасады для кухни Albano
					.row.clearfix
						.col-tablet-1-2.fasadslide
							ul#fasadslider
									li
										.fasad
											img(src="images/fasad_01.png")
											.fasad__name
												|ALBANO с прямой филенкой
						.col-tablet-1-2
							p Фасады для модели Альбано выполнены в неоклассическом стиле и мы их изготаливаем из древесины бука, которая проходит специальную термальную обработку что делает ее лучшим вариантом для кухонных гарнитуров.
							ul
								li
									span ЭКОЛОГИЧНОСТЬ 
									span наша древесина и клей самый экологичный
								li
									span ДОЛГОВЕЧНОСТЬ 
									span мы делаем исключительно по высочайшим стандартам итальянских фабрик на немецком оборудовани.
								li
									span ЦВЕТ 
									span вы можете выбрать любой оттенок исходя исключительно из своих пожеланий
							a(href="#").btn.btn_get
								|Получить
				.color-types#colors
					h2
						|Примеры цветовых решений
					.row.clearfix
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_01.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_02.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_03.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
						.col-laptop-1-6.col-tablet-1-6.col-mobileonly-1-3.col-phablet-1-3.padding-5
							.color-type
								a(href="#")
									img(src="images/color-type_04.png")
								.color-type__name
									|ALBANO
				.color-types.color-types_bottom
					.row.clearfix
						.col-tablet-1-2
							.about-color
								.about-color__title
									| Склад красок на нашем производстве
								p
									| Наше производство использует краски интальянских брендов saerlack и  это дает нам уверенностьв том что фасады прослужат долго и неизменят своего цвета даже при постоянном нахождении под солнцем.

						.col-tablet-1-2
							img(src="images/color_factory.png", alt="photo")
		.wrapper.wrapper_section-bg
			.content-wrapper
				.reviews-box#production
					.row.clearfix#rewiews
						.col-phablet-1-2.padding-right
							.title Производство ZORINI
							.reviews-box__img
								a(href="#")
									img(src="images/review_05.png")
						.col-phablet-1-2.padding-left
							.title.title_margin-top Отзывы о ZORINI
							.row.clearfix
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img
										a(href="#")
											img(src="images/review_01.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img
										a(href="#")
											img(src="images/review_02.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img.reviews-box__img_margin-top
										a(href="#")
											img(src="images/review_03.png")
								.col-mobileonly-1-2.col-phablet-1-2
									.reviews-box__img.reviews-box__img_margin-top
										a(href="#")
											img(src="images/review_04.png")
		include ./parts/form-line.pug
		.wrapper
			.title.title_padding
				|Похожие модели
			.content-wrapper
				.clearfix
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_01.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог. 
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_02.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00
									span
										|р./м.пог.
					.col-phablet-1-3
						.product-item.product-item_prod-card
							a(href="#").product-item__add-to-fav
								img(src="images/like.png" alt="like")
							.product-item__image
								a(href="#")
									img(src="images/product_03.png" alt="product")
							.product-item__mark
								|Хит продаж
							.product-item__text
								a(href="#").product-item__name
									|Кухня Модесто
								.product-item__price
									span
										|54 900.00 
									span
										|р./м.пог.
		include ./parts/footer.pug