doctype html
html
	head
		include ./parts/head.pug
	body
		.wrapper
			include ./parts/header.pug
			.content-wrapper
				ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Регистрация
				form.register-form
					.title Регистрация
					.input-wrap
						span Представьтесь
						br
						input()
					.input-wrap
						span Номер телефона
						br
						input( type="tel" placeholder="+7 (____)  ____ - ___ - ___")
					.input-wrap
						span Электронная почта
						br
						input( type="email")
					.input-wrap
						span Пароль
						br
						input( type="password" minlength="6")
						br
						span Пароль должен содержать как минисум 6 символов
					.input-wrap
						span Повторите пароль
						br
						input( type="password")
					.input-wrap.input-wrap_submit
						input(type="submit" value="Зарегистрироваться")
						.arrow
							//include ./images/right-arrow-btn.svg
			include ./parts/form-line.pug
			include ./parts/footer.pug
	
