
html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.content-wrapper
				ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Новости
			.content-wrapper
				h1.center-subline Кухня из массива со скидкой 50% в Москве (H1)
				.sub-title С 1 по 15 ноября 2017 года на кухню из массива «Леда» действует специальная привилегия, в рамках которой вы получаете скидку на эту кухню - 50%. Количество кухонь по данной скидке строго ограничено - 5 гарнитуров.
				.wrapper-text
					p.text-info Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы.
					h2 Кухня «Леда» — традиционная итальянская классика в новом понимании. (Н2)
				.text-img-main
					img(src="images/main_banner.png")
				.wrapper-text
					p.text-info Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы.
					p.text-info Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы.
					h3.center-subline Кухня из массива. (H3)
					p.paragraph Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы.
					.text-img
						img(src="images/product_05.png")
					p.paragraph Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы. Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы.Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева.бронзы.
					p.text-info ревесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы.
					h3.center-subline Кухня из массива. (H4)
					p.paragraph Древесина вишни, из массива которой созданы фасады, наполнена теплом и уютом натурального дерева. Прямые линии великолепно сочетаются с гладкими витражами и полочками из прозрачного стекла. Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком. Полукруглые пилястры с  металлическими кольцами расставляют акценты. Идеально подобранная фурнитура имитирует эффект состаренной бронзы.
					ul.text-info
						li
							span Древесина вишни.
						li
							span Фасады, наполнена теплом и уютом 
								strong натурального дерева.
						li
							span Прямые линии 
								a(href="#") великолепно сочетаются 
								| с гладкими витражами
						li
							span Фасадное стекло с фацетом по периметру украшено фрезерованным рисунком.
		include ./parts/form-line.pug
		include ./parts/footer.pug