doctype html
html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.content-wrapper
				ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Заказ оформлен
		.wrapper.thanks-for-order_wrap
			.thanks-for-order
				.title Благодарим Вас за заказ:  Кухня “Лада”
				.thanks-for-order__number Ваш номер заявки: №534943850
				.thanks-for-order__text Мы благодарим Вас за проявленный интерес к нашей продукции компании Zorini . В ближайшее время наши менеджеры свяжутся с Вами для уточнения всех деталей Вашей заявки.
				a(href="#").btn.btn__back  Вернуться в каталог
					//include ./images/right-arrow-btn.svg
				ul.social-items
					li.social-item
						a(href="#")
							//include ./images/twitter.svg
					li.social-item
						a(href="#")
							//include ./images/vk.svg
					li.social-item
						a(href="#")
							//include ./images/facebook.svg
					li.social-item
						a(href="#")
							//include ./images/youtube.svg
		include ./parts/form-line.pug
		include ./parts/footer.pug
